---
layout: 'gallery'
---

%h1 Fussgänger-Passarelle Jtenhard Restaurierung 5620 Bremgarten
%p Auftraggeber: Gerber+Partner, Bauingenieure und Planer AG, Dohlenzstr.6 5210 Windisch


%h1 Restaurierung Kreuz auf dem Kirchhof in Bremgarten.
%p
  Röm.-Kath. Kirchgemeinde Bremgarten
  Auftraggeber: Herr Cornel Wick, Pfarrgasse 4, 5620 Bremgarten


%h1 Wöschhüsli Sins
%p
  Röm.-Kath. Kirchgemeinde Sins
  Auftraggeber und Architekt: D. Frank + CH. Pries, Bodenfeldstrasse 4, 5643 Sins


%h1 Sanierung Tunnel Wetzwil-Landikon
%p Auftraggeber: Marti Bauunternehmungen AG, Eichwaldstrasse 5, 6000 Luzern


%h1 Halde Brunnenrestauration, Pausenplatz Wohlen
%p Auftraggeber: Planung, Bau- und Umwelt Wohlen, Florian Püntener, Bereichsleiter Liegenschaften, Kapellstrasse 1, 5610 Wohlen


%h1 Restauration Sandsteinfussboden im Baptist-Fischer-Haus, Merenschwand
%p Auftraggeber: Trudi und Ronald Veidt, Baptist-Fischer-Haus, Büelstrasse 19, 5634 Merenschwand


%h1 Brunnenrestaurierung und Platzgestaltung
%p Auftraggeber: Katharina Stäger, Marcel Unterarsinger, Kornweg 7, 5610 Wohlen


%h1 Brunnenrestaurierung Kirchplatz in Wohlen
%p Auftraggeber: Gemeinde Wohlen, Kapellstrasse 1, 5610 Wohlen


%h1 Villa Vock, Restaurierung Treppenaufgang zum Haupteingang
%p Auftraggeber: Uschi + Hanspeter Vock, Jurastrasse 10, 5610 Wohlen


%h1 Brunnenrestaurierung Sternen Wohlen
%p Auftraggeber: Gemeinde Wohlen, Kapellstrasse 1, 5610 Wohlen


%h1 Brunnenrestaurierung Kleindöttingen
%p Auftraggeber: Kurt Kalt, Winkelstrasse 18, 5314 Kleindöttingen
%p
  Altar                              Taufbecken                    Sockel
  Restaurieren               Neuerstellen                 Neuerstellen


%h1 Restauration Altar, Neuerstellung Taufbecken &amp; Sockel, Kath. Kirchgemeinde Widen
%p Auftraggeber: Team4 Architekten ETH/SIA AG, Christoph Franz, Nordstrasse 110, 8037 Zürich


%h1 Wegkreuz Eggenwil
%p
  Bauherr: Kanton Aargau, Herr Roberto Scappaticci
  %br/
  Bauingenieur: FH EMBA, Projektleiter Brücken &amp; Tunnel, Departement Bau, Verkehr u. Umwelt, Entfeldstrasse 21, 5001 Aarau


%h1 Schloss Lenzburg
%p Auftraggeber: Bellprat Associates AG, Jordi Bellprat, Geisshüberlstr. 62d, 8045 Zürich


%h1 Taverne Schloss Hilfikon
%p Architekt: Architekturbüro Jörg Sax, Hofmattenweg 2, 5619 Büttikon


%h1 Kath. Kirche - Kapelle - Priestergrab, Wohlen und Anglikon
%p Adresse: Kath. Kirchgemeinde Wohlen


%h1 Umbau/Renovation Pfarreizentrum, Zufikon
%p
  Bauherrschaft: Kath. Kirchgemeinde St. Martin, Bachstrasse 19, 5621 Zufkon
  %br/
  Architekt: Rolf Rey, Dipl. Architekt HTL/STV, Emausstrasse 19, 5621 Zufikon


%h1 Manufakturgebäude Isler, Bärengässli, 5610 Wohlen
%p
  Bauherr: Herr Eser, Sonnhaldenstrasse 76, 6331 Hünenberg
  %br/
  Architekt: Architekten und Planer SIA Urs Müller, Bärengässli 9, 5610 Wohlen


%h1 Restaurant Weber, “Chäber”, Bremgartenstrasse 4, 5610 Wohlen
%p
  Bauherr: Departement Bau, Verkehr und Umwelt, Entfeldstrasse 22, 5001 Aarau
  %br/
  Architekt: HuM Lärmschutz GmbH, Durisolstrasse 11, 5612 Villmergen


%h1 Wohnhaus Durchbruch, Kirchgasse 17/19, 5600 Lenzburg
%p Bauherr: Frau Ramstein, Badweg 17, 5103 Möriken


%h1 Hinterbachbrücke, Villmergerstrasse, 5619 Büttikon
%p
  Bauherr: Departement Abteilung Tiefbau, Brücken- und Tunnelbau, Endfelstrasse 22, 5001 Aarau
  %br/
  Ingenieur: Lüthi und Häfliger, Chilegässli 1, 5610 Wohlen


%h1 Schwendenhof Umbau, Sanierung Haus 1,2,3, Unterdorfstrasse, 8142 Uitikon
%p
  Bauherr: Immofort AG, Büelisackerstrasse 3, 5619 Büttikon
  %br/
  Architekt: Koch AG, Holzbau, 5619 Büttikon


%h1 Renovation Bäckerei Köchli und Iten, Bremgartenstrasse 4, 5622 Waltenschwil
%p Bauherr: Herr Köchli, Bremgartenstrasse 4, 5622 Waltenschwil


%h1 Restauration Haupteingang Piccadilly Pub, Bünzstrasse 6, 5610 Wohlen
%p Bauherr: Frau Aeppli, Bünzstrasse 6, 5610 Wohlen


%h1 Kapelle Anglikon, Im Winkel, 5611 Anglikon
%p Bauherr: Kath. Kirchengemeinde, Herr Notter, Aeschstrasse 46, 5610 Wohlen


%h1 Diverse Wegkreuze, 8966 Oberwil-Lieli
%p Bauherr: Gemeinde Oberwil-Lieli, Herr Christoph Emmenegger, Dorfstrasse 52, 8966 Oberwil-Lieli
