---
layout: 'gallery'
---

%h2 Restaurierungen

%p Durch unser umfangreiches Wissen über Steine ist es uns möglich die Qualität alter Bauwerke zu schätzen und wir können Ihnen dadurch Vorschläge zur optimalen Restaurierung u.a. alter Steingebäude, Kirchen, Kapellen, Brunnen, Wegkreuze, Treppen, Säulen und Torbogen machen. Die sanfte Renovation befreit den Stein von den Zeichen der Alterung und lässt diesen wieder in neuem Glanz erstrahlen, wobei das ursprüngliche Wesen wieder herausgearbeitet wird und der typische Character erhalten bleibt, so dass wir uns an diese wunderbaren Zeitzeugen auch die nächsten Jahrzehnte erfreuen können.
%p Kontaktieren Si
e uns für eine Besichtigung des Objektes, damit wir Ihnen eine kostenlose Offerte für die Restaurierung erstellen können.
%h3 Impressionen
%p In der folgenden Bildergalerie sehen Sie eine kleine Auswahl an Restaurierungen, welche wir bereits durchgeführt haben. Auf Wunsch können wir Ihnen auch gerne umfangreiche Dokumentationen bereits umgesetzter Restaurierungen verschiedenster Art zeigen.

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Brunnen', '#brunnen', name: 'brunnen'
  %li
    = link_to '➜Gebäude', '#gebude', name: 'gebude'
  %li
    = link_to '➜Kirchen & Kapellen', '#kirchen-kapellen', name: 'kirchen-kapellen'
  %li
    = link_to '➜Wegkreuze', '#wegkreuze', name: 'wegkreuze'

#gallery
  .item.brunnen
    %span.description{style: 'display: none;'} Material:Muschelkalk
    %span.name{style: 'display: none;'} Restauriert 2013
    %img{alt: 'brunnen: Restauriert 2013, Material:Muschelkalk  ', 'data-large' => '/images/galleries/121/DSC00645_440x.JPG', 'data-small' => '/images/galleries/121/DSC00645_220x.JPG', src: '/images/galleries/121/DSC00645_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Restauriert 2013
  .item.brunnen
    %span.description{style: 'display: none;'} Brunnen stark beschädigt.
    %span.name{style: 'display: none;'} Brunnentrog vor der Restaurierung
    %img{alt: 'brunnen: Brunnentrog vor der Restaurierung , Brunnen stark beschädigt.', 'data-large' => '/images/galleries/121/PICT0009.JPG_440x.jpg', 'data-small' => '/images/galleries/121/PICT0009.JPG_220x.jpg', src: '/images/galleries/121/PICT0009.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnentrog vor der Restaurierung
  .item.brunnen
    %span.description{style: 'display: none;'} Vierungen werden gehauen,risse werden aufgefrässt e.c.a
    %span.name{style: 'display: none;'} Brunnentrog während der Restaurierung
    %img{alt: 'brunnen: Brunnentrog während der Restaurierung , Vierungen werden gehauen,risse werden aufgefrässt e.c.a', 'data-large' => '/images/galleries/121/IMGP1453.JPG_440x.jpg', 'data-small' => '/images/galleries/121/IMGP1453.JPG_220x.jpg', src: '/images/galleries/121/IMGP1453.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnentrog während der Restaurierung
  .item.brunnen
    %span.description{style: 'display: none;'} Brunnen Restaurierung im Aufbau.Vor dem überarbeiten.
    %span.name{style: 'display: none;'} Brunnen Restaurierung
    %img{alt: 'brunnen: Brunnen Restaurierung , Brunnen Restaurierung im Aufbau.Vor dem überarbeiten.', 'data-large' => '/images/galleries/121/Brunnen_7_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_7_220x.jpg', src: '/images/galleries/121/Brunnen_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Restaurierung
  .item.brunnen
    %span.description{style: 'display: none;'} Fertig überarbeiteter Brunnentrog.
    %span.name{style: 'display: none;'} Brunnen wird verladen.
    %img{alt: 'brunnen: Brunnen wird verladen., Fertig überarbeiteter Brunnentrog.', 'data-large' => '/images/galleries/121/IMGP1606.JPG_440x.jpg', 'data-small' => '/images/galleries/121/IMGP1606.JPG_220x.jpg', src: '/images/galleries/121/IMGP1606.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen wird verladen.
  .item.brunnen
    %span.description{style: 'display: none;'} Brunnen vor der Restaurierung weist starke Verschmutzungen auf,und hat Diverse Abplatzungen u.Risse
    %span.name{style: 'display: none;'} Brunnen Kirchen Platz Wohlen
    %img{alt: 'brunnen: Brunnen Kirchen Platz Wohlen, Brunnen vor der Restaurierung weist starke Verschmutzungen auf,und hat Diverse Abplatzungen u.Risse ', 'data-large' => '/images/galleries/121/Brunnen_1_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_1_220x.jpg', src: '/images/galleries/121/Brunnen_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Kirchen Platz Wohlen
  .item.brunnen
    %span.description{style: 'display: none;'}
      Brunnen vor der Restaurierung weist starke Verschmutzungen auf,und hat Diverse Abplatzungen u.Risse
      Die Schrift ist stark ogsidirt
    %span.name{style: 'display: none;'} Brunnen Kirchen Platz Wohlen
    %img{alt: 'brunnen: Brunnen Kirchen Platz Wohlen, Brunnen vor der Restaurierung weist starke Verschmutzungen auf,und hat Diverse Abplatzungen u.Risse \r\nDie Schrift ist stark ogsidirt \r\n', 'data-large' => '/images/galleries/121/Brunnen_2_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_2_220x.jpg', src: '/images/galleries/121/Brunnen_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Kirchen Platz Wohlen
  .item.brunnen
    %span.description{style: 'display: none;'} Nach der Restaurierung ist die Schrift wieder gut lesbar
    %span.name{style: 'display: none;'} Brunnen
    %img{alt: 'brunnen: Brunnen, Nach der Restaurierung ist die Schrift wieder gut lesbar ', 'data-large' => '/images/galleries/121/Brunnen_3_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_3_220x.jpg', src: '/images/galleries/121/Brunnen_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen
  .item.brunnen
    %span.description{style: 'display: none;'} Brunnen wurde komplett überarbeitet
    %span.name{style: 'display: none;'} Brunnen
    %img{alt: 'brunnen: Brunnen, Brunnen wurde komplett überarbeitet ', 'data-large' => '/images/galleries/121/Brunnen_4_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_4_220x.jpg', src: '/images/galleries/121/Brunnen_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen
  .item.brunnen
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen Hinteransicht
    %img{alt: 'brunnen: Brunnen Hinteransicht , ', 'data-large' => '/images/galleries/121/Brunnen_5_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_5_220x.jpg', src: '/images/galleries/121/Brunnen_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Hinteransicht
  .item.brunnen
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen Seitenansicht
    %img{alt: 'brunnen: Brunnen Seitenansicht , ', 'data-large' => '/images/galleries/121/Brunnen_6_440x.jpg', 'data-small' => '/images/galleries/121/Brunnen_6_220x.jpg', src: '/images/galleries/121/Brunnen_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Seitenansicht
  .item.brunnen
    %span.description{style: 'display: none;'} Sternen Brunnen vor der Restaurierung.
    %span.name{style: 'display: none;'} Sternen Brunnen
    %img{alt: 'brunnen: Sternen Brunnen , Sternen Brunnen vor der Restaurierung.', 'data-large' => '/images/galleries/121/IMGP1592.JPG_440x.jpg', 'data-small' => '/images/galleries/121/IMGP1592.JPG_220x.jpg', src: '/images/galleries/121/IMGP1592.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sternen Brunnen
  .item.brunnen
    %span.description{style: 'display: none;'}
      Sternen Brunnen Wohlen
      vor der Restaurierung.
    %span.name{style: 'display: none;'} Sternen Brunnen
    %img{alt: 'brunnen: Sternen Brunnen, Sternen Brunnen Wohlen \r\nvor der Restaurierung.', 'data-large' => '/images/galleries/121/IMGP1597.JPG_440x.jpg', 'data-small' => '/images/galleries/121/IMGP1597.JPG_220x.jpg', src: '/images/galleries/121/IMGP1597.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sternen Brunnen
  .item.brunnen
    %span.description{style: 'display: none;'}
      Sternen Brunnen Wohlen
      vor der Restaurierung.
    %span.name{style: 'display: none;'} Sternen Brunnen
    %img{alt: 'brunnen: Sternen Brunnen, Sternen Brunnen Wohlen\r\nvor der Restaurierung.', 'data-large' => '/images/galleries/121/IMGP1600.JPG_440x.jpg', 'data-small' => '/images/galleries/121/IMGP1600.JPG_220x.jpg', src: '/images/galleries/121/IMGP1600.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sternen Brunnen
  .item.brunnen
    %span.description{style: 'display: none;'}
      Sternen Brunnen Wohlen
      nach der abgeschlossenen Restaurierung.
    %span.name{style: 'display: none;'} Sternen Brunnen Wohlen
    %img{alt: 'brunnen: Sternen Brunnen Wohlen, Sternen Brunnen Wohlen\r\nnach der abgeschlossenen Restaurierung.', 'data-large' => '/images/galleries/121/IMGP3225_440x.jpg', 'data-small' => '/images/galleries/121/IMGP3225_220x.jpg', src: '/images/galleries/121/IMGP3225_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sternen Brunnen Wohlen
  .item.brunnen
    %span.description{style: 'display: none;'}
      Sternen Brunnen Wohlen
      nach der abgeschlossenen Restaurierung.
    %span.name{style: 'display: none;'} Sternen Brunnen Wohlen
    %img{alt: 'brunnen: Sternen Brunnen Wohlen, Sternen Brunnen Wohlen\r\nnach der abgeschlossenen Restaurierung.', 'data-large' => '/images/galleries/121/IMGP3227_440x.jpg', 'data-small' => '/images/galleries/121/IMGP3227_220x.jpg', src: '/images/galleries/121/IMGP3227_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sternen Brunnen Wohlen
  .item.brunnen
    %span.description{style: 'display: none;'}
      Sternen Brunnen Wohlen
      nach der abgeschlossenen Restaurierung.
    %span.name{style: 'display: none;'} Sternen Brunnen Wohlen
    %img{alt: 'brunnen: Sternen Brunnen Wohlen, Sternen Brunnen Wohlen\r\nnach der abgeschlossenen Restaurierung.', 'data-large' => '/images/galleries/121/IMGP3231_440x.jpg', 'data-small' => '/images/galleries/121/IMGP3231_220x.jpg', src: '/images/galleries/121/IMGP3231_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Sternen Brunnen Wohlen
  .item.gebude
    %span.description{style: 'display: none;'} Bauernhaus Sins
    %span.name{style: 'display: none;'} Türsturz aus Sanstein
    %img{alt: 'gebude: Türsturz aus Sanstein, Bauernhaus Sins', 'data-large' => '/images/galleries/122/DSC00119_440x.jpg', 'data-small' => '/images/galleries/122/DSC00119_220x.jpg', src: '/images/galleries/122/DSC00119_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Türsturz aus Sanstein
  .item.gebude
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tunnel Sanierung
    %img{alt: 'gebude: Tunnel Sanierung , ', 'data-large' => '/images/galleries/122/DSC00610_440x.JPG', 'data-small' => '/images/galleries/122/DSC00610_220x.JPG', src: '/images/galleries/122/DSC00610_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Tunnel Sanierung
  .item.gebude
    %span.description{style: 'display: none;'} Manufaktur Gebäude Wohlen der Firma Isler
    %span.name{style: 'display: none;'} Gebäude Restauration
    %img{alt: 'gebude: Gebäude Restauration , Manufaktur Gebäude Wohlen der Firma Isler ', 'data-large' => '/images/galleries/122/Geba_ude_1_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_1_220x.jpg', src: '/images/galleries/122/Geba_ude_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gebäude Restauration
  .item.gebude
    %span.description{style: 'display: none;'} Manufaktur Gebäude Wohlen der Firma Isler
    %span.name{style: 'display: none;'} Gebäude Restauration
    %img{alt: 'gebude: Gebäude Restauration , Manufaktur Gebäude Wohlen der Firma Isler ', 'data-large' => '/images/galleries/122/Geba_ude_2_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_2_220x.jpg', src: '/images/galleries/122/Geba_ude_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gebäude Restauration
  .item.gebude
    %span.description{style: 'display: none;'} Manufaktur Gebäude Wohlen der Firma Isler
    %span.name{style: 'display: none;'} Gebäude Restauration
    %img{alt: 'gebude: Gebäude Restauration , Manufaktur Gebäude Wohlen der Firma Isler ', 'data-large' => '/images/galleries/122/Geba_ude_3_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_3_220x.jpg', src: '/images/galleries/122/Geba_ude_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gebäude Restauration
  .item.gebude
    %span.description{style: 'display: none;'} Manufaktur Gebäude Wohlen der Firma Isler
    %span.name{style: 'display: none;'} Gebäude Restauration
    %img{alt: 'gebude: Gebäude Restauration , Manufaktur Gebäude Wohlen der Firma Isler ', 'data-large' => '/images/galleries/122/Geba_ude_4_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_4_220x.jpg', src: '/images/galleries/122/Geba_ude_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Gebäude Restauration
  .item.gebude
    %span.description{style: 'display: none;'} Fasaden und Fenster Restaurierungen
    %span.name{style: 'display: none;'} Stadthaus Durchbruch Lenzburg
    %img{alt: 'gebude: Stadthaus Durchbruch Lenzburg , Fasaden und Fenster Restaurierungen ', 'data-large' => '/images/galleries/122/Geba_ude_5_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_5_220x.jpg', src: '/images/galleries/122/Geba_ude_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stadthaus Durchbruch Lenzburg
  .item.gebude
    %span.description{style: 'display: none;'} Fasaden und Fenster Restaurierungen
    %span.name{style: 'display: none;'} Stadthaus Durchbruch Lenzburg
    %img{alt: 'gebude: Stadthaus Durchbruch Lenzburg , Fasaden und Fenster Restaurierungen ', 'data-large' => '/images/galleries/122/Geba_ude_6_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_6_220x.jpg', src: '/images/galleries/122/Geba_ude_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stadthaus Durchbruch Lenzburg
  .item.gebude
    %span.description{style: 'display: none;'} Fasaden und Fenster Restaurierungen
    %span.name{style: 'display: none;'} Stadthaus Durchbruch Lenzburg
    %img{alt: 'gebude: Stadthaus Durchbruch Lenzburg , Fasaden und Fenster Restaurierungen ', 'data-large' => '/images/galleries/122/Geba_ude_7_440x.jpg', 'data-small' => '/images/galleries/122/Geba_ude_7_220x.jpg', src: '/images/galleries/122/Geba_ude_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Stadthaus Durchbruch Lenzburg
  .item.gebude
    %span.description{style: 'display: none;'}
      Treppenaufgang nach der
      abgeschlossenen Restaurierung.
    %span.name{style: 'display: none;'} Villa Vock Wohlen
    %img{alt: 'gebude: Villa Vock Wohlen, Treppenaufgang nach der \r\nabgeschlossenen Restaurierung.', 'data-large' => '/images/galleries/122/DSC00110_440x.jpg', 'data-small' => '/images/galleries/122/DSC00110_220x.jpg', src: '/images/galleries/122/DSC00110_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Villa Vock Wohlen
  .item.gebude
    %span.description{style: 'display: none;'}
      Treppenaufgang vor der
      Restaurierung.
    %span.name{style: 'display: none;'} Villa Vock Wohlen
    %img{alt: 'gebude: Villa Vock Wohlen, Treppenaufgang vor der\r\nRestaurierung.', 'data-large' => '/images/galleries/122/DSC00094_440x.JPG', 'data-small' => '/images/galleries/122/DSC00094_220x.JPG', src: '/images/galleries/122/DSC00094_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Villa Vock Wohlen
  .item.gebude
    %span.description{style: 'display: none;'}
      Treppenaufgang nach der
      Restaurierung.
    %span.name{style: 'display: none;'} Villa Vock Wohlen
    %img{alt: 'gebude: Villa Vock Wohlen, Treppenaufgang nach der\r\nRestaurierung.', 'data-large' => '/images/galleries/122/DSC00111_440x.JPG', 'data-small' => '/images/galleries/122/DSC00111_220x.JPG', src: '/images/galleries/122/DSC00111_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Villa Vock Wohlen
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} Material: Carrara Marmor Blattgold 24 Carat.
    %span.name{style: 'display: none;'} Hochrelief restauriert
    %img{alt: 'kirchen-kapellen: Hochrelief restauriert , Material: Carrara Marmor Blattgold 24 Carat.', 'data-large' => '/images/galleries/123/DSC00370_440x.jpg', 'data-small' => '/images/galleries/123/DSC00370_220x.jpg', src: '/images/galleries/123/DSC00370_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Hochrelief restauriert
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} Carrara Marmor Inschrift Vergoldet.Restauriert.
    %span.name{style: 'display: none;'} Vergoldet
    %img{alt: 'kirchen-kapellen: Vergoldet, Carrara Marmor Inschrift Vergoldet.Restauriert.', 'data-large' => '/images/galleries/123/DSC00373_440x.JPG', 'data-small' => '/images/galleries/123/DSC00373_220x.JPG', src: '/images/galleries/123/DSC00373_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Vergoldet
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} Eingangs Portal Stufen Restauration
    %span.name{style: 'display: none;'} Kapelle Anglikon
    %img{alt: 'kirchen-kapellen: Kapelle Anglikon, Eingangs Portal Stufen Restauration ', 'data-large' => '/images/galleries/123/Kirchen_Kapellen_1_440x.jpg', 'data-small' => '/images/galleries/123/Kirchen_Kapellen_1_220x.jpg', src: '/images/galleries/123/Kirchen_Kapellen_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kapelle Anglikon
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} Eingangs Portal Stufen Restauration
    %span.name{style: 'display: none;'} Kapelle Anglikon
    %img{alt: 'kirchen-kapellen: Kapelle Anglikon, Eingangs Portal Stufen Restauration ', 'data-large' => '/images/galleries/123/Kirchen_Kapellen_2_440x.jpg', 'data-small' => '/images/galleries/123/Kirchen_Kapellen_2_220x.jpg', src: '/images/galleries/123/Kirchen_Kapellen_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kapelle Anglikon
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} Eingangs Portal Stufen Restauration
    %span.name{style: 'display: none;'} Kapelle Anglikon
    %img{alt: 'kirchen-kapellen: Kapelle Anglikon, Eingangs Portal Stufen Restauration ', 'data-large' => '/images/galleries/123/Kirchen_Kapellen_3_440x.jpg', 'data-small' => '/images/galleries/123/Kirchen_Kapellen_3_220x.jpg', src: '/images/galleries/123/Kirchen_Kapellen_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kapelle Anglikon
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} Eingangs Portal Stufen Restauration
    %span.name{style: 'display: none;'} Kapelle Anglikon
    %img{alt: 'kirchen-kapellen: Kapelle Anglikon, Eingangs Portal Stufen Restauration ', 'data-large' => '/images/galleries/123/Kirchen_Kapellen_4_440x.jpg', 'data-small' => '/images/galleries/123/Kirchen_Kapellen_4_220x.jpg', src: '/images/galleries/123/Kirchen_Kapellen_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kapelle Anglikon
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'} In der Kirche Wohlen überschliffen wir den ganzen Sandstein Boden und fugten die Fugen zum teil neu aus anschliessend wurde er Imprägniert
    %span.name{style: 'display: none;'} Kirche Wohlen
    %img{alt: 'kirchen-kapellen: Kirche Wohlen, In der Kirche Wohlen überschliffen wir den ganzen Sandstein Boden und fugten die Fugen zum teil neu aus anschliessend wurde er Imprägniert ', 'data-large' => '/images/galleries/123/Kirchen_Kapellen_5_440x.jpg', 'data-small' => '/images/galleries/123/Kirchen_Kapellen_5_220x.jpg', src: '/images/galleries/123/Kirchen_Kapellen_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kirche Wohlen
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'}
      Neu erstellter Taufstein
      für die Kirche Widen.
    %span.name{style: 'display: none;'} Taufstein
    %img{alt: 'kirchen-kapellen: Taufstein, Neu erstellter Taufstein\r\nfür die Kirche Widen.', 'data-large' => '/images/galleries/123/IMGP3075_440x.jpg', 'data-small' => '/images/galleries/123/IMGP3075_220x.jpg', src: '/images/galleries/123/IMGP3075_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Taufstein
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'}
      Kirche Widen mit Restauriertem
      Altar,neuem Taufstein und Restauriertem
      Prediger Pult.
    %span.name{style: 'display: none;'} Kirche Widen
    %img{alt: 'kirchen-kapellen: Kirche Widen, Kirche Widen mit Restauriertem \r\nAltar,neuem Taufstein und Restauriertem\r\nPrediger Pult.', 'data-large' => '/images/galleries/123/IMGP3081_440x.jpg', 'data-small' => '/images/galleries/123/IMGP3081_220x.jpg', src: '/images/galleries/123/IMGP3081_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kirche Widen
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'}
      Neuer Sockel für die Madona.
      Aus Cristalina Marmor.
    %span.name{style: 'display: none;'} Kirche Widen
    %img{alt: 'kirchen-kapellen: Kirche Widen, Neuer Sockel für die Madona.\r\nAus Cristalina Marmor.', 'data-large' => '/images/galleries/123/IMGP3082_440x.jpg', 'data-small' => '/images/galleries/123/IMGP3082_220x.jpg', src: '/images/galleries/123/IMGP3082_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kirche Widen
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'}
      Restauriertes Priestergrab
      bei der Kirche Wohlen.
    %span.name{style: 'display: none;'} Priester Grab Wohlen
    %img{alt: 'kirchen-kapellen: Priester Grab Wohlen, Restauriertes Priestergrab \r\nbei der Kirche Wohlen.', 'data-large' => '/images/galleries/123/IMGP0474.JPG_440x.jpg', 'data-small' => '/images/galleries/123/IMGP0474.JPG_220x.jpg', src: '/images/galleries/123/IMGP0474.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Priester Grab Wohlen
  .item.kirchen-kapellen
    %span.description{style: 'display: none;'}
      Neu erstellte Schriftplatte
      beim Haupteingang der
      Kirche Jonen.
    %span.name{style: 'display: none;'} Schriftplatte Kirche Jonen
    %img{alt: 'kirchen-kapellen: Schriftplatte Kirche Jonen , Neu erstellte Schriftplatte\r\nbeim Haupteingang der \r\nKirche Jonen.', 'data-large' => '/images/galleries/123/schriftplatte___kirche_und_kapelle_440x.jpg', 'data-small' => '/images/galleries/123/schriftplatte___kirche_und_kapelle_220x.jpg', src: '/images/galleries/123/schriftplatte___kirche_und_kapelle_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte Kirche Jonen
  .item.wegkreuze
    %span.description{style: 'display: none;'}
      Wegkreuz wird nochmals gereinigt,
      vor dem verladen.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz , Wegkreuz wird nochmals gereinigt,\r\nvor dem verladen.', 'data-large' => '/images/galleries/124/PICT0019_440x.jpg', 'data-small' => '/images/galleries/124/PICT0019_220x.jpg', src: '/images/galleries/124/PICT0019_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz fertig verpakt für den Transport.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz, Wegkreuz fertig verpakt für den Transport.', 'data-large' => '/images/galleries/124/PICT0027_440x.JPG', 'data-small' => '/images/galleries/124/PICT0027_220x.JPG', src: '/images/galleries/124/PICT0027_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz wird aufgerichtet.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz, Wegkreuz wird aufgerichtet.', 'data-large' => '/images/galleries/124/PICT0034_440x.JPG', 'data-small' => '/images/galleries/124/PICT0034_220x.JPG', src: '/images/galleries/124/PICT0034_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz beim versetzen.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz, Wegkreuz beim versetzen.', 'data-large' => '/images/galleries/124/PICT0041_440x.jpg', 'data-small' => '/images/galleries/124/PICT0041_220x.jpg', src: '/images/galleries/124/PICT0041_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz beim versetzen.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz, Wegkreuz beim versetzen.', 'data-large' => '/images/galleries/124/PICT0043_440x.jpg', 'data-small' => '/images/galleries/124/PICT0043_220x.jpg', src: '/images/galleries/124/PICT0043_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz beim versetzen.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz, Wegkreuz beim versetzen.', 'data-large' => '/images/galleries/124/PICT0049_440x.jpg', 'data-small' => '/images/galleries/124/PICT0049_220x.jpg', src: '/images/galleries/124/PICT0049_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz fertig versetzt.
    %span.name{style: 'display: none;'} Eggenwiler Wegkreuz
    %img{alt: 'wegkreuze: Eggenwiler Wegkreuz, Wegkreuz fertig versetzt.', 'data-large' => '/images/galleries/124/DSC00347_440x.jpg', 'data-small' => '/images/galleries/124/DSC00347_220x.jpg', src: '/images/galleries/124/DSC00347_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Eggenwiler Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz aus Gotthard Granit beim versetzen.
    %span.name{style: 'display: none;'} Wegkreuz
    %img{alt: 'wegkreuze: Wegkreuz, Wegkreuz aus Gotthard Granit beim versetzen.', 'data-large' => '/images/galleries/124/Wegkreuze1_440x.jpg', 'data-small' => '/images/galleries/124/Wegkreuze1_220x.jpg', src: '/images/galleries/124/Wegkreuze1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz aus Gotthard Granit nach der Restaurierung.
    %span.name{style: 'display: none;'} Wegkreuz
    %img{alt: 'wegkreuze: Wegkreuz, Wegkreuz aus Gotthard Granit nach der Restaurierung.', 'data-large' => '/images/galleries/124/Wegkreuze2_440x.jpg', 'data-small' => '/images/galleries/124/Wegkreuze2_220x.jpg', src: '/images/galleries/124/Wegkreuze2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz aus Mägenwiler Muschelkalk neu überarbeitet
    %span.name{style: 'display: none;'} Wegkreuz
    %img{alt: 'wegkreuze: Wegkreuz, Wegkreuz aus Mägenwiler Muschelkalk neu überarbeitet  ', 'data-large' => '/images/galleries/124/Wegkreuze3_440x.jpg', 'data-small' => '/images/galleries/124/Wegkreuze3_220x.jpg', src: '/images/galleries/124/Wegkreuze3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz aus Mägenwiler Muschelkalk neu überarbeitet.
    %span.name{style: 'display: none;'} Wegkreuz
    %img{alt: 'wegkreuze: Wegkreuz, Wegkreuz aus Mägenwiler Muschelkalk neu überarbeitet.', 'data-large' => '/images/galleries/124/Wegkreuze_4_440x.jpg', 'data-small' => '/images/galleries/124/Wegkreuze_4_220x.jpg', src: '/images/galleries/124/Wegkreuze_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz aus Mägenwiler Muschelkalk neu überarbeitet.
    %span.name{style: 'display: none;'} Wegkreuz
    %img{alt: 'wegkreuze: Wegkreuz, Wegkreuz aus Mägenwiler Muschelkalk neu überarbeitet.', 'data-large' => '/images/galleries/124/Wegkreuze5_440x.jpg', 'data-small' => '/images/galleries/124/Wegkreuze5_220x.jpg', src: '/images/galleries/124/Wegkreuze5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz vor der Restaurierung.
    %span.name{style: 'display: none;'} Wegkreuz Oberwil-Lieli
    %img{alt: 'wegkreuze: Wegkreuz Oberwil-Lieli, Wegkreuz vor der Restaurierung.', 'data-large' => '/images/galleries/124/PICT0025_2_440x.jpg', 'data-small' => '/images/galleries/124/PICT0025_2_220x.jpg', src: '/images/galleries/124/PICT0025_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz Oberwil-Lieli
  .item.wegkreuze
    %span.description{style: 'display: none;'} Wegkreuz nach der Restaurierung.
    %span.name{style: 'display: none;'} Wegkreuz Oberwil-Lieli
    %img{alt: 'wegkreuze: Wegkreuz Oberwil-Lieli , Wegkreuz nach der Restaurierung.', 'data-large' => '/images/galleries/124/PICT0010_440x.jpg', 'data-small' => '/images/galleries/124/PICT0010_220x.jpg', src: '/images/galleries/124/PICT0010_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Wegkreuz Oberwil-Lieli
