---
layout: 'gallery'
---

%h2 Geschenkideen
%p Sie sind auf der Suche nach einem einzigartigen Geschenk für ihre Liebsten, Freunde, Bekannte, Firma oder Verein? Wir entwickeln aus ihrer Idee ein fertiges Produkt und stellen dieses aus den unterschiedlichsten Materialien her.
%h3 Inspirationen
%p Lassen Sie sich inspirieren von bereits umgesetzten Geschenkideen:

#gallery
  .item.geschenkideen
    %span.description{style: 'display: none;'} Steinbock aus Bronze,Sockel aus Muschelkalk
    %span.name{style: 'display: none;'} Geschenkideen
    %img{alt: 'geschenkideen: Geschenkideen, Steinbock aus Bronze,Sockel aus Muschelkalk ', 'data-large' => '/images/galleries/117/Geschenkideen_1_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_1_220x.jpg', src: '../../images/galleries/117/Geschenkideen_1_220x.jpg'}/
    .ic_caption Geschenkideen
  .item.geschenkideen
    %span.description{style: 'display: none;'} Stilisiertes Familien Portrait aus gebranntem Ton und Eichenholz
    %span.name{style: 'display: none;'} Geschenkideen
    %img{alt: 'geschenkideen: Geschenkideen, Stilisiertes Familien Portrait aus gebranntem Ton und Eichenholz ', 'data-large' => '/images/galleries/117/Geschenkideen_2_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_2_220x.jpg', src: '../../images/galleries/117/Geschenkideen_2_220x.jpg'}/
    .ic_caption Geschenkideen
  .item.geschenkideen
    %span.description{style: 'display: none;'} Film&amp;Video Festival Aarau Preisgestaltung,Beton,Stahl,Plegsiglas
    %span.name{style: 'display: none;'} Film&amp;Video Festival Aarau
    %img{alt: 'geschenkideen: Film&Video Festival Aarau, Film&Video Festival Aarau Preisgestaltung,Beton,Stahl,Plegsiglas ', 'data-large' => '/images/galleries/117/Geschenkideen_3_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_3_220x.jpg', src: '../../images/galleries/117/Geschenkideen_3_220x.jpg'}/
    .ic_caption Film&amp;Video Festival Aarau
  .item.geschenkideen
    %span.description{style: 'display: none;'} Für den 5Dan im Karate ein geschenk des Karate Clubs Wohlen an Raphael Gauch,Material Granit, Stahl,Blattgold
    %span.name{style: 'display: none;'} Geschenkideen
    %img{alt: 'geschenkideen: Geschenkideen, Für den 5Dan im Karate ein geschenk des Karate Clubs Wohlen an Raphael Gauch,Material Granit, Stahl,Blattgold ', 'data-large' => '/images/galleries/117/Geschenkideen_4_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_4_220x.jpg', src: '../../images/galleries/117/Geschenkideen_4_220x.jpg'}/
    .ic_caption Geschenkideen
  .item.geschenkideen
    %span.description{style: 'display: none;'} Buddha aus Ton
    %span.name{style: 'display: none;'} Geschenkideen
    %img{alt: 'geschenkideen: Geschenkideen, Buddha aus Ton', 'data-large' => '/images/galleries/117/Geschenkideen_5_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_5_220x.jpg', src: '../../images/galleries/117/Geschenkideen_5_220x.jpg'}/
    .ic_caption Geschenkideen
  .item.geschenkideen
    %span.description{style: 'display: none;'} Plakatgestaltung für das Waldtheater 'Puupäät' in Wohlen
    %span.name{style: 'display: none;'} Plakatgestaltung
    %img{alt: 'geschenkideen: Plakatgestaltung , Plakatgestaltung für das Waldtheater ', 'data-large' => '/images/galleries/117/Geschenkideen_6_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_6_220x.jpg', in: '', puup: '', src: '/images/galleries/117/Geschenkideen_6_220x.jpg', wohlen: ''}/
    .ic_caption Plakatgestaltung
  .item.geschenkideen
    %span.description{style: 'display: none;'} Flaschenhalter mit Feuerwehrsymbol und anfangs Buchstaben der frisch vermählten,Material Sandstein
    %span.name{style: 'display: none;'} Geschenkideen
    %img{alt: 'geschenkideen: Geschenkideen, Flaschenhalter mit Feuerwehrsymbol und anfangs Buchstaben der frisch vermählten,Material Sandstein', 'data-large' => '/images/galleries/117/Geschenkideen_7_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_7_220x.jpg', src: '../../images/galleries/117/Geschenkideen_7_220x.jpg'}/
    .ic_caption Geschenkideen
  .item.geschenkideen
    %span.description{style: 'display: none;'} Zum beispiel für Firmen
    %span.name{style: 'display: none;'} Geschenkideen
    %img{alt: 'geschenkideen: Geschenkideen, Zum beispiel für Firmen', 'data-large' => '/images/galleries/117/Geschenkideen_8_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_8_220x.jpg', src: '../../images/galleries/117/Geschenkideen_8_220x.jpg'}/
    .ic_caption Geschenkideen
  .item.geschenkideen
    %span.description{style: 'display: none;'} Geschenkidee Namensschild aus Marmor
    %span.name{style: 'display: none;'} Geschenkidee Namensschild
    %img{alt: 'geschenkideen: Geschenkidee Namensschild , Geschenkidee Namensschild aus Marmor ', 'data-large' => '/images/galleries/117/Geschenkideen_9_440x.jpg', 'data-small' => '/images/galleries/117/Geschenkideen_9_220x.jpg', src: '../../images/galleries/117/Geschenkideen_9_220x.jpg'}/
    .ic_caption Geschenkidee Namensschild
  .item.geschenkideen
    %span.description{style: 'display: none;'}
      Teelicht aus einem Tessiner
      Flussstein.
    %span.name{style: 'display: none;'} Teelicht mit Schriftzug
    %img{alt: 'geschenkideen: Teelicht mit Schriftzug , Teelicht aus einem Tessiner\r\nFlussstein.', 'data-large' => '/images/galleries/117/IMGP2061_440x.jpg', 'data-small' => '/images/galleries/117/IMGP2061_220x.jpg', src: '../../images/galleries/117/IMGP2061_220x.jpg'}/
    .ic_caption Teelicht mit Schriftzug
  .item.geschenkideen
    %span.description{style: 'display: none;'}
      Pokal aus Chromstahl vergoldet 24 carat
      und steht auf einem Serpentin.
    %span.name{style: 'display: none;'} Pokal
    %img{alt: 'geschenkideen: Pokal , Pokal aus Chromstahl vergoldet 24 carat \r\nund steht auf einem Serpentin.', 'data-large' => '/images/galleries/117/PICT0002_440x.jpg', 'data-small' => '/images/galleries/117/PICT0002_220x.jpg', src: '../../images/galleries/117/PICT0002_220x.jpg'}/
    .ic_caption Pokal
