---
layout: 'gallery'
---

%h2 Techniken
%p In den folgenden Bildergalerien sind die Entstehungszyklen von vier Kunstwerken dokumentiert, aus welchen Sie die komplexen und aufwendigen Verfahren der Herstellung erahnen können:

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Zyklus A', '#zyklus-a', name: 'zyklus-a'
  %li
    = link_to '➜Zyklus B', '#zyklus-b', name: 'zyklus-b'
  %li
    = link_to '➜Zyklus C', '#zyklus-c', name: 'zyklus-c'
  %li
    = link_to '➜Zyklus D', '#zyklus-d', name: 'zyklus-d'

#gallery
  .item.zyklus-a
    %span.description{style: 'display: none;'} Kopf Modelle einmal im Orginal und als Tonmodel
    %span.name{style: 'display: none;'} Kopf Modelle
    %img{alt: 'zyklus-a: Kopf Modelle , Kopf Modelle einmal im Orginal und als Tonmodel ', 'data-large' => '/images/galleries/111/Zyklus_A1_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A1_220x.jpg', src: '/images/galleries/111/Zyklus_A1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kopf Modelle
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Ton
    %img{alt: 'zyklus-a: Zyklus in Ton , ', 'data-large' => '/images/galleries/111/Zyklus_A2_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A2_220x.jpg', src: '/images/galleries/111/Zyklus_A2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Ton
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Ton
    %img{alt: 'zyklus-a: Zyklus in Ton , ', 'data-large' => '/images/galleries/111/Zyklus_A3_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A3_220x.jpg', src: '/images/galleries/111/Zyklus_A3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Ton
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Ton
    %img{alt: 'zyklus-a: Zyklus in Ton , ', 'data-large' => '/images/galleries/111/Zyklus_A4_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A4_220x.jpg', src: '/images/galleries/111/Zyklus_A4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Ton
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Gips
    %img{alt: 'zyklus-a: Zyklus in Gips, ', 'data-large' => '/images/galleries/111/Zyklus_A5_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A5_220x.jpg', src: '/images/galleries/111/Zyklus_A5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Gips
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Wachs
    %img{alt: 'zyklus-a: Zyklus in Wachs, ', 'data-large' => '/images/galleries/111/Zyklus_A6_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A6_220x.jpg', src: '/images/galleries/111/Zyklus_A6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Wachs
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Bronze
    %img{alt: 'zyklus-a: Zyklus in Bronze, ', 'data-large' => '/images/galleries/111/Zyklus_A7_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A7_220x.jpg', src: '/images/galleries/111/Zyklus_A7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Bronze
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Bronze
    %img{alt: 'zyklus-a: Zyklus in Bronze, ', 'data-large' => '/images/galleries/111/Zyklus_A8_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A8_220x.jpg', src: '/images/galleries/111/Zyklus_A8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Bronze
  .item.zyklus-a
    %span.description{style: 'display: none;'} Zyklus in Bronze und Gips
    %span.name{style: 'display: none;'} Zyklus in Bronze
    %img{alt: 'zyklus-a: Zyklus in Bronze, Zyklus in Bronze und Gips', 'data-large' => '/images/galleries/111/Zyklus_A9_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A9_220x.jpg', src: '/images/galleries/111/Zyklus_A9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Bronze
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Bronze
    %img{alt: 'zyklus-a: Zyklus in Bronze, ', 'data-large' => '/images/galleries/111/Zyklus_A10_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A10_220x.jpg', src: '/images/galleries/111/Zyklus_A10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Bronze
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Bronze
    %img{alt: 'zyklus-a: Zyklus in Bronze, ', 'data-large' => '/images/galleries/111/Zyklus_A11_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A11_220x.jpg', src: '/images/galleries/111/Zyklus_A11_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Bronze
  .item.zyklus-a
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus in Bronze
    %img{alt: 'zyklus-a: Zyklus in Bronze, ', 'data-large' => '/images/galleries/111/Zyklus_A12_440x.jpg', 'data-small' => '/images/galleries/111/Zyklus_A12_220x.jpg', src: '/images/galleries/111/Zyklus_A12_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus in Bronze
  .item.zyklus-b
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Ton
    %img{alt: 'zyklus-b: Zyklus Ton, ', 'data-large' => '/images/galleries/112/Zyklus_B1_440x.jpg', 'data-small' => '/images/galleries/112/Zyklus_B1_220x.jpg', src: '/images/galleries/112/Zyklus_B1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Ton
  .item.zyklus-b
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Gips
    %img{alt: 'zyklus-b: Zyklus Gips , ', 'data-large' => '/images/galleries/112/Zyklus_B2_440x.jpg', 'data-small' => '/images/galleries/112/Zyklus_B2_220x.jpg', src: '/images/galleries/112/Zyklus_B2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Gips
  .item.zyklus-b
    %span.description{style: 'display: none;'} Ab Form Silikon
    %span.name{style: 'display: none;'} Zyklus Gips
    %img{alt: 'zyklus-b: Zyklus Gips , Ab Form Silikon', 'data-large' => '/images/galleries/112/Zyklus_B3_440x.jpg', 'data-small' => '/images/galleries/112/Zyklus_B3_220x.jpg', src: '/images/galleries/112/Zyklus_B3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Gips
  .item.zyklus-b
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Bronze
    %img{alt: 'zyklus-b: Zyklus Bronze, ', 'data-large' => '/images/galleries/112/Zyklus_B4_440x.jpg', 'data-small' => '/images/galleries/112/Zyklus_B4_220x.jpg', src: '/images/galleries/112/Zyklus_B4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Bronze
  .item.zyklus-b
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Bronze
    %img{alt: 'zyklus-b: Zyklus Bronze, ', 'data-large' => '/images/galleries/112/Zyklus_B5_440x.jpg', 'data-small' => '/images/galleries/112/Zyklus_B5_220x.jpg', src: '/images/galleries/112/Zyklus_B5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Bronze
  .item.zyklus-c
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Ton
    %img{alt: 'zyklus-c: Zyklus Ton, ', 'data-large' => '/images/galleries/113/Zyklus_C1_440x.jpg', 'data-small' => '/images/galleries/113/Zyklus_C1_220x.jpg', src: '/images/galleries/113/Zyklus_C1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Ton
  .item.zyklus-c
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Negativ Form Gips
    %img{alt: 'zyklus-c: Negativ Form Gips, ', 'data-large' => '/images/galleries/113/Zyklus_C2_440x.jpg', 'data-small' => '/images/galleries/113/Zyklus_C2_220x.jpg', src: '/images/galleries/113/Zyklus_C2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Negativ Form Gips
  .item.zyklus-c
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Negativ Form Gips
    %img{alt: 'zyklus-c: Negativ Form Gips, ', 'data-large' => '/images/galleries/113/Zyklus_C3_440x.jpg', 'data-small' => '/images/galleries/113/Zyklus_C3_220x.jpg', src: '/images/galleries/113/Zyklus_C3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Negativ Form Gips
  .item.zyklus-c
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Gips
    %img{alt: 'zyklus-c: Zyklus Gips, ', 'data-large' => '/images/galleries/113/Zyklus_C4_440x.jpg', 'data-small' => '/images/galleries/113/Zyklus_C4_220x.jpg', src: '/images/galleries/113/Zyklus_C4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Gips
  .item.zyklus-c
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Zyklus Bronze
    %img{alt: 'zyklus-c: Zyklus Bronze, ', 'data-large' => '/images/galleries/113/Zyklus_C5_440x.jpg', 'data-small' => '/images/galleries/113/Zyklus_C5_220x.jpg', src: '/images/galleries/113/Zyklus_C5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Bronze
  .item.zyklus-d
    %span.description{style: 'display: none;'} Ton wird unterteilt
    %span.name{style: 'display: none;'} Zyklus Ton
    %img{alt: 'zyklus-d: Zyklus Ton, Ton wird unterteilt', 'data-large' => '/images/galleries/114/Zyklus_D1_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D1_220x.jpg', src: '/images/galleries/114/Zyklus_D1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Ton
  .item.zyklus-d
    %span.description{style: 'display: none;'} Das Positiv wird mit Gips überzogen
    %span.name{style: 'display: none;'} Zyklus Gips
    %img{alt: 'zyklus-d: Zyklus Gips, Das Positiv wird mit Gips überzogen', 'data-large' => '/images/galleries/114/Zyklus_D2_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D2_220x.jpg', src: '/images/galleries/114/Zyklus_D2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Gips
  .item.zyklus-d
    %span.description{style: 'display: none;'} Für den Beton Guss wird eine stabilisations Form gebaut
    %span.name{style: 'display: none;'} Zyklus Gips
    %img{alt: 'zyklus-d: Zyklus Gips  , Für den Beton Guss wird eine stabilisations Form gebaut ', 'data-large' => '/images/galleries/114/Zyklus_D3_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D3_220x.jpg', src: '/images/galleries/114/Zyklus_D3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Gips
  .item.zyklus-d
    %span.description{style: 'display: none;'} Für den Beton Guss wird eine stabilisations Form gebaut
    %span.name{style: 'display: none;'} Zyklus Gips
    %img{alt: 'zyklus-d: Zyklus Gips, Für den Beton Guss wird eine stabilisations Form gebaut ', 'data-large' => '/images/galleries/114/Zyklus_D4_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D4_220x.jpg', src: '/images/galleries/114/Zyklus_D4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Gips
  .item.zyklus-d
    %span.description{style: 'display: none;'} Beton Guss wird vorbereite
    %span.name{style: 'display: none;'} Zyklus Beton
    %img{alt: 'zyklus-d: Zyklus Beton, Beton Guss wird vorbereite ', 'data-large' => '/images/galleries/114/Zyklus_D5_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D5_220x.jpg', src: '/images/galleries/114/Zyklus_D5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Beton
  .item.zyklus-d
    %span.description{style: 'display: none;'} Aus schallen des Beton Kopfes in dem man das Negativ zerstört (gegossen in der verlorenen Form)
    %span.name{style: 'display: none;'} Zyklus aus schallen
    %img{alt: 'zyklus-d: Zyklus aus schallen, Aus schallen des Beton Kopfes in dem man das Negativ zerstört (gegossen in der verlorenen Form)', 'data-large' => '/images/galleries/114/Zyklus_D6_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D6_220x.jpg', src: '/images/galleries/114/Zyklus_D6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus aus schallen
  .item.zyklus-d
    %span.description{style: 'display: none;'} Aus schallen des Beton Kopfes in dem man das Negativ zerstört (gegossen in der verlorenen Form)
    %span.name{style: 'display: none;'} Zyklus aus schallen
    %img{alt: 'zyklus-d: Zyklus aus schallen, Aus schallen des Beton Kopfes in dem man das Negativ zerstört (gegossen in der verlorenen Form)', 'data-large' => '/images/galleries/114/Zyklus_D7_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D7_220x.jpg', src: '/images/galleries/114/Zyklus_D7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus aus schallen
  .item.zyklus-d
    %span.description{style: 'display: none;'} Köpfe in eingefärbtem Beton
    %span.name{style: 'display: none;'} Zyklus Beton
    %img{alt: 'zyklus-d: Zyklus Beton, Köpfe in eingefärbtem Beton', 'data-large' => '/images/galleries/114/Zyklus_D8_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D8_220x.jpg', src: '/images/galleries/114/Zyklus_D8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Beton
  .item.zyklus-d
    %span.description{style: 'display: none;'} Vorbereitung für die Holz arbeiten
    %span.name{style: 'display: none;'} Zyklus Holz
    %img{alt: 'zyklus-d: Zyklus Holz, Vorbereitung für die Holz arbeiten ', 'data-large' => '/images/galleries/114/Zyklus_D9_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D9_220x.jpg', src: '/images/galleries/114/Zyklus_D9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus Holz
  .item.zyklus-d
    %span.description{style: 'display: none;'} Zusammenfügen der Figur (Einsicht Aussicht) mit einem Krahn Höhe der Figur 6m
    %span.name{style: 'display: none;'} Zyklus zusammenfügen
    %img{alt: 'zyklus-d: Zyklus zusammenfügen , Zusammenfügen der Figur (Einsicht Aussicht) mit einem Krahn Höhe der Figur 6m', 'data-large' => '/images/galleries/114/Zyklus_D10_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D10_220x.jpg', src: '/images/galleries/114/Zyklus_D10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zyklus zusammenfügen
  .item.zyklus-d
    %span.description{style: 'display: none;'} Zyklus die Fertige Figur gesamt Höhe 6m
    %span.name{style: 'display: none;'} Einsicht Aussicht
    %img{alt: 'zyklus-d: Einsicht Aussicht, Zyklus die Fertige Figur gesamt Höhe 6m', 'data-large' => '/images/galleries/114/Zyklus_D11_440x.jpg', 'data-small' => '/images/galleries/114/Zyklus_D11_220x.jpg', src: '/images/galleries/114/Zyklus_D11_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Einsicht Aussicht
