@import "compass";

body {
  margin: 0;
  padding: 0;

  font-family: "museo-slab";
  font-weight: 300;

  min-width: 960px;
  overflow: hidden;
  nav {
    width: 960px;
    margin: auto;

    ul {
      @include horizontal-list;

      li {
        font-size: 14px;
        margin-left: 5px;

        &:first-child {
          margin-left:  0;
        }

        a {
          color: white;
          text-decoration: none;
          font-weight: 700;
          text-shadow: 1px 1px #000;

          &:hover {
            color: #ffa500;
          }
        }
      }
    }
  }

  #logo {
    position: absolute;
    background: transparent url(/thewayofthestone/images/logo.gif);
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 520px;
  }

  &.content {
    background: #000 url(/thewayofthestone/images/background.jpg) fixed no-repeat top center;
    background-size: cover;

    header {
      background: rgba(170, 170, 170, 0.5);
      padding-top: 5px;
      height: 25px;
      margin: 0 auto;
    }

    #logo {
      opacity: 0.1;
    }
  }

  &.intro {
    background: #000;

    #background {
      position: absolute;
      background: #000 url(/thewayofthestone/images/background.jpg) fixed no-repeat top center;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }

    #logo {
      cursor: pointer;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: "chaparral-pro";
}

#content {
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
