!!! 5
%head
  %title The way of the stone

  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'language', content: 'deutsch, de' }
  %meta{ name: 'robots', content: 'index,follow' }
  %meta{ name: 'revisit-after', content: '7 days' }
  %meta{ name: 'description', content: 'The way of the stone' }

  %link{ rel: 'stylesheet', type: 'text/css', href: '/thewayofthestone/stylesheets/grid.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/thewayofthestone/stylesheets/text.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/thewayofthestone/stylesheets/thewayofthestone.css' }

  %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
  %script{ src: '/thewayofthestone/javascripts/thewayofthestone.js' }

  %script{ type: 'text/javascript', src: 'http://use.typekit.com/kdt2tlb.js' }
  %script{ type: 'text/javascript' }
    try{Typekit.load();}catch(e){}

%body.intro
  #background
  %a
    #logo
