!!! 5
%head
  %title The way of the stone

  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'language', content: 'deutsch, de' }
  %meta{ name: 'robots', content: 'index,follow' }
  %meta{ name: 'revisit-after', content: '7 days' }
  %meta{ name: 'description', content: 'The way of the stone' }

  %link{ rel: 'stylesheet', type: 'text/css', href: '/thewayofthestone/stylesheets/grid.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/thewayofthestone/stylesheets/text.css' }
  %link{ rel: 'stylesheet', type: 'text/css', href: '/thewayofthestone/stylesheets/thewayofthestone.css' }

  %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
  %script{ src: '/thewayofthestone/javascripts/thewayofthestone.js' }

  %script{ type: 'text/javascript', src: 'http://use.typekit.com/kdt2tlb.js' }
  %script{ type: 'text/javascript' }
    try{Typekit.load();}catch(e){}

%body.intro
  #logo
    #logo_left
    #logo_right
    #logo_hole

  %nav
    %ul
      %li
        %a{ href: '/thewayofthestone/page.html' } Home
      %li
        %a{ href: '/thewayofthestone/page.html' } Über Uns
      %li
        %a{ href: '/thewayofthestone/page.html' } Aktuelles
      %li
        %a{ href: '/thewayofthestone/page.html' } Filme
      %li
        %a{ href: '/thewayofthestone/page.html' } Pressespiegel
      %li
        %a{ href: '/thewayofthestone/page.html' } Kunst
      %li
        %a{ href: '/thewayofthestone/page.html' } Grabsteine
      %li
        %a{ href: '/thewayofthestone/page.html' } Brunnen
      %li
        %a{ href: '/thewayofthestone/page.html' } Haus und Garten
      %li
        %a{ href: '/thewayofthestone/page.html' } Design
      %li
        %a{ href: '/thewayofthestone/page.html' } Techniken
      %li
        %a{ href: '/thewayofthestone/page.html' } Shop
