/* line 3, ../../src/sass/thewayofthestone.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "museo-slab";
  font-weight: 300;
  min-width: 960px;
  overflow: hidden;
}
/* line 12, ../../src/sass/thewayofthestone.scss */
body nav {
  width: 960px;
  margin: auto;
}
/* line 16, ../../src/sass/thewayofthestone.scss */
body nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p125-perf/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p125-perf/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body nav ul li:first-child, body nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p125-perf/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.3-p125-perf/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body nav ul li.last {
  padding-right: 0;
}
/* line 19, ../../src/sass/thewayofthestone.scss */
body nav ul li {
  font-size: 14px;
  margin-left: 5px;
}
/* line 23, ../../src/sass/thewayofthestone.scss */
body nav ul li:first-child {
  margin-left: 0;
}
/* line 27, ../../src/sass/thewayofthestone.scss */
body nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 1px 1px #000;
}
/* line 33, ../../src/sass/thewayofthestone.scss */
body nav ul li a:hover {
  color: #ffa500;
}
/* line 41, ../../src/sass/thewayofthestone.scss */
body.content {
  background: black url(/thewayofthestone/images/background.jpg) fixed no-repeat top center;
}
/* line 44, ../../src/sass/thewayofthestone.scss */
body.content header {
  background: rgba(170, 170, 170, 0.5);
  padding-top: 5px;
  height: 25px;
  margin: 0 auto;
}
/* line 52, ../../src/sass/thewayofthestone.scss */
body.intro {
  background: #000;
}
/* line 55, ../../src/sass/thewayofthestone.scss */
body.intro #logo {
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  width: 400px;
  height: 520px;
}
/* line 64, ../../src/sass/thewayofthestone.scss */
body.intro #logo #logo_hole {
  position: absolute;
  background: transparent url(/thewayofthestone/images/logo_hole.gif) 0 0 no-repeat;
  z-index: 10;
  width: 400px;
  height: 520px;
}
/* line 72, ../../src/sass/thewayofthestone.scss */
body.intro #logo #logo_left {
  position: absolute;
  background: transparent url(/thewayofthestone/images/logo_left.gif) 0 0 no-repeat;
  width: 400px;
  height: 520px;
}
/* line 79, ../../src/sass/thewayofthestone.scss */
body.intro #logo #logo_right {
  position: absolute;
  background: transparent url(/thewayofthestone/images/logo_right.gif) 0 0 no-repeat;
  width: 400px;
  height: 520px;
}
/* line 87, ../../src/sass/thewayofthestone.scss */
body.intro nav {
  padding-top: 25px;
}

/* line 94, ../../src/sass/thewayofthestone.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "chaparral-pro";
}
