---
layout: 'gallery'
---

%h2 Ateliervermietung

%p Suchen Sie einen geeigneten Platz mit Ambiente für ihren Anlass? Egal ob Geburtstag, Hochzeitsapéro, Firmenanlass oder Vereinstreffen, das Atelier “The way of the stone” bietet das besondere Etwas und wir schon alleine durch die vielfältige Kunst für genügend Gesprächsstoff sorgen. Rufen Sie uns an um mit uns über ihren Anlass zu sprechen. Wir organisieren neben den Räumlichkeiten auch die Sitzgelegenheiten, Essen &amp; Trinken, technische Anlagen, usw.

%h3 Anlässe
%p Nachfolgend einige Fotos von Veranstaltungen welche bereits im Atelier stattgefunden haben:

#gallery
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_1_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_1_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_1_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_2_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_2_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_2_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_3_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_3_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_3_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_4_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_4_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_4_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_5_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_5_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_5_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_6_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_6_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_6_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_7_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_7_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_7_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers, ', 'data-large' => '/images/galleries/116/Vermietung_des_Ateliers_8_440x.jpg', 'data-small' => '/images/galleries/116/Vermietung_des_Ateliers_8_220x.jpg', src: '../../images/galleries/116/Vermietung_des_Ateliers_8_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers , ', 'data-large' => '/images/galleries/116/IMGP1613.JPG_440x.jpg', 'data-small' => '/images/galleries/116/IMGP1613.JPG_220x.jpg', src: '/images/galleries/116/IMGP1613.JPG_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
  .item.vermietung-des-ateliers
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vermietung des Ateliers
    %img{alt: 'vermietung-des-ateliers: Vermietung des Ateliers , ', 'data-large' => '/images/galleries/116/IMGP1742.JPG_440x.jpg', 'data-small' => '/images/galleries/116/IMGP1742.JPG_220x.jpg', src: '/images/galleries/116/IMGP1742.JPG_220x.jpg'}/
    .ic_caption Vermietung des Ateliers
