---
layout: 'content'
---

%h2 Biographie Rafael Häfliger

%ul
  %li Geboren 1977 in Wohlen
  %li 1995 Besuch der Kunstgewerbeschule in Luzern
  %li 1996 – 2000 Lehre als Steinbildhauer bei Walliser Natursteine
  %li 4 Kurse an der Bildhauerschule St. Gallen
  %li Praktikum bei Bildhauer Rolf Grönquist in Hünenberg
  %li Nach bestandener Lehrabschlussprüfung selbständiges Arbeiten als Bildhauer in Wohlen
  %li Studienreise in Europa, Asien, Afrika und der Südsee

%h3 Ausstellungen &amp; Aktivitäten

%ul
  %li 2013 Ateliernacht Freiamt K-13
  %li 2012 Kinderhort Peter Dreifuss: Kunst am Bau, Zwerge aus Eichenholz
  %li 2012 Preis gewonnen: “Kultur macht Schule” Funkenflug
  %li 2012 Gruppenausstellung GersauART
  %li 2012 100 Jahre Wisa Gloria Fahrradgestaltung
  %li 2011 Kunst am Bau HPS Wohlen
  %li 2011 Übernahme des ehemaligen Lehrbetriebes „Walliser Natursteine und Partner GmbH“
  %li 2011 Gestaltung Sozi-Preis, Freiamt
  %li 2010 Mitinitiant des zweiten Freiämter Bildhauersymposiums zum Thema „Freiämter Sagen“
  %li 2010 Kulturpreisträger der Gemeinde Wohlen
  %li 2010 Ausstellung Kunstszene Freiamt
  %li 2009 Lernfestival
  %li 2008 One Minute International Film und Video Festival, Aarau: Preisgestaltung
  %li 2008 Dreiraumkultur
  %li 2007 One Minute International Film und Video Festival, Aarau: Preisgestaltung
  %li 2007 Ausstellung im Gemeindehaus Wohlen „Junge Kunst“
  %li 2006 Westend Kunstausstellung Wohlen
  %li 2006 Monica Imhof/Rafael Häfliger „Magische Begegnungen“ im Centro Cultural Hispanoamericano, Zürich
  %li 2006 Ausstellung Kunst Freiamt
  %li 2005 Skulpturart im Kulturraum Mediacompus, Baslerstrasse 30, 8034 Zürich
  %li 2005 Organisator Bildhauer an der HGWO Wohlen
  %li 2005 Bildhauersymposium „Offene Steinbruchwerkstatt“ in Mägenwil AG
  %li 2005 Ausstellung Endofin in Wohlen
  %li 2004 „Natur und Kunst“ Elemente erleben Kultursymposium in Diegenstal LU
  %li 2004 Open Art Roverdo GR Skulpturenpark Gruppenausstellung
  %li 2004 Mitorganisator „Kunst am Weg“ Ausstellung, Kunst- und Handwerkskultur
  %li 2004 Gründung „Atelier Art und Bar“, Ausstellungsräume für Nachwuchskünstler
  %li 2004 Eröffnung Ausstellungsraum mit Schaufenster am Kirchenrain2, Wohlen
  %li 2003 Mitinitiant des ersten Freiämter Bildhauersymposiums zum Thema „Freiämter Sagen“
  %li 2003 Ausstellung und Neueröffnung meines Ateliers am Hofmattenweg 9 in Wohlen
  %li 2002 Gruppenausstellung Kulturzentrum Bremgarten
  %li 2002 Gestaltung des „Sozi- Preises Freiamt“ (Skulptur, die für Jugendeinsatz verliehen wird).
  %li 2001 Mitwirken in der Kulturausstellung „Impuls“ (Thema: Figurenzyklus) in Wohlen
  %li 2001 Gruppenausstellung mit Esther Amrein und Gian- Paolo Russo im Foyer des Gemeindehauses Wohlen
  %li 2001 Ausstellung mit Monika Imhof zum Thema „Schmerz“ in „World’s End Café“ Zürich
  %li 1999 Jugendkulturtage Wohlen
  %li 1999 Ausstellung mit Mario Schenker (Bilder), Rafael Häfliger Skulpturen im Dynamo Zürich
  %li 1997 Jugendkulturtage Wohlen (Förderpreis wiederholt erhalten)
  %li 1997 Ausstellung mit Mika Järviö „Türen der Gefühle“ im Dynamo Zürich
  %li 1996 Jugendkulturtage Wohlen (Förderpreis erhalten)
  %li 1996 Gruppenausstellung im „Charlton Tivoli Hotel“ Luzern
