---
layout: 'gallery'
---

%h2 Pressespiegel

%p Hier finden Sie die gesammelten Presseartikel, welche im Laufe der Zeit über Rafael Häfliger und/oder “The way of the stone” erschienen sind:

%h3 Videos

%p
  %a.sublime{href: '/videos/Sagenweg.mp4'}
    %img{src: '/images/Sagenweg.jpg', width: '320'}/
    %br/
    Der Freiämter Sagenweg (Tele Freiamt)
  %video.sublime.lightbox{'data-name' => 'Der Freiämter Sagenweg', height: '360', poster: '/images/Sagenweg.jpg', preload: 'none', style: 'display:none;', width: '640'}
    %source{src: '/videos/Sagenweg.mp4'}
%p
  %a.sublime{href: '/videos/Uralte-Spiele.mp4'}
    %img{src: '/images/Uralte_Spiele.jpg', width: '320'}/
    %br/
    Uralte Spiele (Tele Freiamt)
  %video.sublime.lightbox{'data-name' => 'Uralte Spiele', height: '360', poster: '/images/Uralte_Spiele.jpg', preload: 'none', style: 'display:none;', width: '640'}
    %source{src: '/videos/Uralte-Spiele.mp4'}
%p
  %a.sublime{href: '/videos/Stein-auf-Stein.mp4'}
    %img{src: '/images/The_Way_of_the_Stone_TV_Poster.jpg', width: '320'}/
    %br/
    Stein auf Stein
  %video.sublime.lightbox{'data-name' => 'The Way of the Stone TV', height: '486', poster: '/images/The_Way_of_the_Stone_TV.jpg', preload: 'none', style: 'display:none;', width: '650'}
    %source{src: '/videos/Stein-auf-Stein.mp4'}
%p
  %a.sublime{href: '/videos/The-way-of-the-stone.mp4'}
    %img{src: '/images/The_way_of_the_stone.png', width: '320'}/
    %br/
    The Way of the Stone
  %video.sublime.lightbox{'data-name' => 'The Way of the Stone', height: '270', poster: '/images/The_way_of_the_stone.png', preload: 'none', style: 'display:none;', width: '480'}
    %source{src: '/videos/The-way-of-the-stone.mp4'}
%p
  %a.sublime{href: '/videos/Wohler-Kulturpreis-2010.mp4'}
    %img{src: '/images/Wohler_Kulturpreis_2010.png', width: '320'}/
    %br/
    Wohler Kulturpreis 2010 (Tele Freiamt)
  %video.sublime.lightbox{'data-name' => 'Wohler Kulturpreis 2010', height: '360', poster: '/images/Wohler_Kulturpreis_2010.png', preload: 'none', style: 'display:none;', width: '640'}
    %source{src: '/videos/Wohler-Kulturpreis-2010.mp4'}
%p
  %a.sublime{href: '/videos/KMU-Portrait.mp4'}
    %img{src: '/images/KMU_Portrait.png', width: '320'}/
    %br/
    Geld-Tipp: KMU Portrait (Tele M1)
  %video.sublime.lightbox{'data-name' => 'KMU Portrait', height: '388', poster: '/images/KMU_Portrait.png', preload: 'none', style: 'display:none;', width: '692'}
    %source{src: '/videos/KMU-Portrait.mp4'}
%p
  %a.sublime{href: '/videos/Kulturtage-Schule-Widen.mp4'}
    %img{src: '/images/Kulturtage_Schule_Widen.png', width: '320'}/
    %br/
    Kulturtage Schule Widen (Tele Freiamt)
  %video.sublime.lightbox{'data-name' => 'Kulturtage Schule Wieden', height: '360', poster: '/images/Kulturtage_Schule_Widen.png', preload: 'none', style: 'display:none;', width: '640'}
    %source{src: '/videos/Kulturtage-Schule-Widen.mp4'}

%h3 Zeitungsartikel
%ul
  %li
    %a{href: '/images/Wohler_Kinderhort_wird_Zwergenland.pdf'} Wohler Kinderhort wird Zwergenland
  %li
    %a{href: '/images/AZ_Walpurgisnacht30.4.2012.pdf'} Walpurgisnacht mit Hexentanz und Sagen-App
  %li
    %a{href: '/images/BBA_Drachebänkli11.4.2012.pdf'} Neues «Drachebänkli» im Wal d
  %li
    %a{href: '/images/AZ08.4.2012_Drachenbank.pdf'} Drachenbänkli für den Freiämter Sagenweg
  %li
    %a{href: '/images/Kunst_Stein_4-2011.pdf'} Sagenhafter Waldspaziergang
  %li
    %a{href: '/images/Widen_AZ_8.4.2011.pdf'} Der Stifeliryter und die jungen Steinmetze
  %li
    %a{href: '/images/spurensuche.pdf'} Auf Spurensuche im Wald von Waltenschwil
  %li
    %a{href: '/images/Presse_WA_Bericht_31.8.10.pdf'} Kultur kennt keine Grenzen
  %li
    %a{href: '/images/zwerge_hexen_und_brennende_Maenner.pdf'} Zwergen, Hexen und brennende Männer
  %li
    %a{href: '/images/Brennender_Mann.pdf'} Brennende Männer
  %li
    %a{href: '/images/schmuck-identitaet-aterliererlebnis.pdf'} Schmuck, Identität, Ateliererlebnis
  %li
    %a{href: '/images/Freiämter_Sagenweg.pdf'} Die Freiämter Sagen neu entdecken und erfahren
  %li
    %a{href: 'http://www.aargauerzeitung.ch/aargau/freiamt/man-koennte-sie-ins-kunsthaus-stellen-109351926'} Man könnte sie ins Kunsthaus stellen
  %li
    %a{href: 'http://www.aargauerzeitung.ch/aargau/freiamt/kulturpreis-fuer-rafael-haefliger-101009442'} Kulturpreis für Rafael Häfliger
  %li
    %a{href: 'http://www.aargauerzeitung.ch/aargau/freiamt/az-buero-wohlen-wortkuenstler-bei-der-zeitungsmacherin-102251251'} az-Büro Wohlen: Wortkünstler bei der Zeitungsmacherin
  %li
    %a{href: 'http://www.aargauerzeitung.ch/aargau/freiamt/zum-geburtstag-gab-es-einen-riesenmohrenkopf-112468866'} Zum Geburtstag gab es einen Riesenmohrenkopf
  %li
    %a{href: 'http://www.wohleranzeiger.ch/2011/06/wohlen-rafael-h%C3%A4fliger-baut-aus.html'} Wohlen: Rafael Häfliger baut aus

%h3 Zeitungsarchiv
%p In der folgenden Bildergalerie finden Sie die sehr alten Artikel, welche alle nur noch als Bilder vorhanden sind:

#gallery
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} 12._juni_2003a.jpg
    %img{alt: 'pressespiegel: 12._juni_2003a.jpg, ', 'data-large' => '/images/galleries/92/12._juni_2003a.jpg_440x.jpg', 'data-small' => '/images/galleries/92/12._juni_2003a.jpg_220x.jpg', src: '/images/galleries/92/12._juni_2003a.jpg_220x.jpg'}/
    .ic_caption 12._juni_2003a.jpg
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} 12._Juni_2003b.jpg
    %img{alt: 'pressespiegel: 12._Juni_2003b.jpg, ', 'data-large' => '/images/galleries/92/12._Juni_2003b.jpg_440x.jpg', 'data-small' => '/images/galleries/92/12._Juni_2003b.jpg_220x.jpg', src: '/images/galleries/92/12._Juni_2003b.jpg_220x.jpg'}/
    .ic_caption 12._Juni_2003b.jpg
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} sc000021df.jpg
    %img{alt: 'pressespiegel: sc000021df.jpg, ', 'data-large' => '/images/galleries/92/sc000021df.jpg_440x.jpg', 'data-small' => '/images/galleries/92/sc000021df.jpg_220x.jpg', src: '/images/galleries/92/sc000021df.jpg_220x.jpg'}/
    .ic_caption sc000021df.jpg
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_1
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_1, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_1_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_1_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_1_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_1
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_2
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_2, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_2_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_2_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_2_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_2
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_3
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_3, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_3_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_3_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_3_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_3
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_4
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_4, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_4_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_4_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_4_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_4
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_5
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_5, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_5_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_5_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_5_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_5
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_6
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_6, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_6_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_6_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_6_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_6
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_7
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_7, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_7_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_7_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_7_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_7
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_8
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_8, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_8_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_8_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_8_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_8
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_9
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_9, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_9_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_9_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_9_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_9
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_10
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_10, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_10_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_10_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_10_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_10
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_11
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_11, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_11_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_11_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_11_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_11
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_12
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_12, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_12_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_12_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_12_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_12
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_13
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_13, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_13_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_13_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_13_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_13
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_14
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_14, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_14_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_14_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_14_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_14
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_15
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_15, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_15_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_15_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_15_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_15
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_16
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_16, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_16_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_16_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_16_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_16
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_17
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_17, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_17_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_17_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_17_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_17
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_18
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_18, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_18_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_18_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_18_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_18
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_19
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_19, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_19_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_19_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_19_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_19
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_20
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_20, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_20_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_20_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_20_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_20
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_21
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_21, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_21_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_21_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_21_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_21
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_22
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_22, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_22_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_22_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_22_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_22
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_23
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_23, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_23_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_23_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_23_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_23
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_24
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_24, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_24_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_24_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_24_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_24
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_25
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_25, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_25_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_25_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_25_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_25
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_26
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_26, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_26_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_26_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_26_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_26
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_27
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_27, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_27_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_27_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_27_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_27
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_28
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_28, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_28_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_28_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_28_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_28
  .item.pressespiegel
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gallerie_Pressespiegel_29
    %img{alt: 'pressespiegel: Gallerie_Pressespiegel_29, ', 'data-large' => '/images/galleries/92/Gallerie_Pressespiegel_29_440x.jpg', 'data-small' => '/images/galleries/92/Gallerie_Pressespiegel_29_220x.jpg', src: '/images/galleries/92/Gallerie_Pressespiegel_29_220x.jpg'}/
    .ic_caption Gallerie_Pressespiegel_29
