%footer
  #dekoBR
  #info
    .slogan
      Ihr professionelles Bildhauer- und Plastiker-Team aus Wohlen.

    .address
      Rafael Häfliger
      %br/
      Bildhauer ✚ Plastiker
      %br/
      Hofmattenweg 9
      %br/
      5610 Wohlen

    .contact
      ✆ 056 610 63 61
      %br/
      ✆ 076 346 56 35
      %br/
      %a{href: 'mailto:info@thewayofthestone.ch'} info@thewayofthestone.ch

    .copyright
      %a.profi{href: 'http://www.berufsbildungplus.ch/'}
        %img{alt: 'Wir machen Profis Lehrbetrieb', height: '100', src: '/images/wir_machen_profis.png', style: 'border-width:0', width: '100'}/

      %a.license{href: 'http://creativecommons.org/licenses/by-nc-sa/3.0/ch/', rel: 'license'}
        %img{alt: 'Creative Commons License', src: 'http://i.creativecommons.org/l/by-nc-sa/3.0/ch/88x31.png', style: 'border-width:0'}/
