---
layout: 'gallery'
---

%h2 Brunnen und Bäder

%p Im Sommer beruhigt das Rauschen des Wassers, im Winter sind die gefrorenen Wasserkristalle eine wahre Augenweide. Lassen Sie sich verzaubern durch das Wasserspiel eines detailliert ausgearbeiteten Brunnen oder Vogelbad aus Stein. Wir beraten Sie gerne um einen an ihre Umgebung angepassten Brunnen oder Vogelbad zu gestalten, welcher perfekt in ihren Garten, Terrasse oder Vorplatz passt.
%p
  Weitere schöne Ideen für Weiher und Biotope finden Sie auch in der Kategorie
  = succeed '.' do
    = link_to 'Haus & Garten', '/haus-garten.html'

%h3 Impressionen
%p Hier finden Sie einige schöne Bilder von Brunnen- und Bäder:

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Sommer &amp; Winter', '#sommer-winter', name: 'sommer-winter'
  %li
    = link_to '➜Vogelbäder', '#vogelbder', name: 'vogelbder'

#gallery
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Gartenteich
    %img{alt: 'sommer-winter: Brunnen im Gartenteich, ', 'data-large' => '/images/galleries/101/MG_0184_s_Raf_440x.jpg', 'data-small' => '/images/galleries/101/MG_0184_s_Raf_220x.jpg', src: '/images/galleries/101/MG_0184_s_Raf_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Gartenteich
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Gartenteich
    %img{alt: 'sommer-winter: Brunnen im Gartenteich, ', 'data-large' => '/images/galleries/101/MG_0310_440x.jpg', 'data-small' => '/images/galleries/101/MG_0310_220x.jpg', src: '/images/galleries/101/MG_0310_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Gartenteich
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Gartenteich
    %img{alt: 'sommer-winter: Brunnen im Gartenteich , ', 'data-large' => '/images/galleries/101/MG_0317_440x.jpg', 'data-small' => '/images/galleries/101/MG_0317_220x.jpg', src: '/images/galleries/101/MG_0317_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Gartenteich
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Moment Aufnahme
    %img{alt: 'sommer-winter: Moment Aufnahme , ', 'data-large' => '/images/galleries/101/MG_0388_440x.jpg', 'data-small' => '/images/galleries/101/MG_0388_220x.jpg', src: '/images/galleries/101/MG_0388_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Moment Aufnahme
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Gartenteich
    %img{alt: 'sommer-winter: Brunnen im Gartenteich, ', 'data-large' => '/images/galleries/101/MG_0471_440x.jpg', 'data-small' => '/images/galleries/101/MG_0471_220x.jpg', src: '/images/galleries/101/MG_0471_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Gartenteich
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Winter
    %img{alt: 'sommer-winter: Brunnen im Winter, ', 'data-large' => '/images/galleries/101/MG_3604_440x.jpg', 'data-small' => '/images/galleries/101/MG_3604_220x.jpg', src: '/images/galleries/101/MG_3604_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Winter
  .item.sommer-winter
    %span.description{style: 'display: none;'} Brunnen aus Flusssteinen (Tessiner Gneis) Mauer aus Maggiagneis (Tessin)
    %span.name{style: 'display: none;'} Brunnen aus Gneis
    %img{alt: 'sommer-winter: Brunnen aus Gneis, Brunnen aus Flusssteinen (Tessiner Gneis) Mauer aus Maggiagneis (Tessin)', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_1_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_1_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen aus Gneis
  .item.sommer-winter
    %span.description{style: 'display: none;'} Echsen Brunnen aus Main Sandstein (Deutschland)
    %span.name{style: 'display: none;'} Echsen Brunnen
    %img{alt: 'sommer-winter: Echsen Brunnen, Echsen Brunnen aus Main Sandstein (Deutschland) ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_2_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_2_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Echsen Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'} Brunnen auf der Terrasse, Wanne in Poliertem Chromstahl
    %span.name{style: 'display: none;'} Brunnen
    %img{alt: 'sommer-winter: Brunnen, Brunnen auf der Terrasse, Wanne in Poliertem Chromstahl ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_3_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_3_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'} Brunnen im Winter,es ergibt sich al Winter verschiedene Eisplastiken
    %span.name{style: 'display: none;'} Brunnen im Winter
    %img{alt: 'sommer-winter: Brunnen im Winter, Brunnen im Winter,es ergibt sich al Winter verschiedene Eisplastiken ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_4_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_4_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Winter
  .item.sommer-winter
    %span.description{style: 'display: none;'} Brunnen Asia Inspiriert,Material Palü Rubin Kalkstein
    %span.name{style: 'display: none;'} Brunnen Asia Inspiriert
    %img{alt: 'sommer-winter: Brunnen Asia Inspiriert, Brunnen Asia Inspiriert,Material Palü Rubin Kalkstein', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_5_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_5_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Asia Inspiriert
  .item.sommer-winter
    %span.description{style: 'display: none;'} Brunnen Flusssteine in Diversen Grössen
    %span.name{style: 'display: none;'} Brunnen Flusssteine
    %img{alt: 'sommer-winter: Brunnen Flusssteine , Brunnen Flusssteine in Diversen Grössen ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_6_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_6_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Flusssteine
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Winter
    %img{alt: 'sommer-winter: Brunnen im Winter, ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_7_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_7_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Winter
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Winter
    %img{alt: 'sommer-winter: Brunnen im Winter, ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_8_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_8_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Winter
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen im Winter
    %img{alt: 'sommer-winter: Brunnen im Winter, ', 'data-large' => '/images/galleries/101/Brunnen_Sommer_Winter_9_440x.jpg', 'data-small' => '/images/galleries/101/Brunnen_Sommer_Winter_9_220x.jpg', src: '/images/galleries/101/Brunnen_Sommer_Winter_9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen im Winter
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen
    %img{alt: 'sommer-winter: Brunnen, ', 'data-large' => '/images/galleries/101/IMGP2963_440x.jpg', 'data-small' => '/images/galleries/101/IMGP2963_220x.jpg', src: '/images/galleries/101/IMGP2963_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'} Aus Gneis.
    %span.name{style: 'display: none;'} Ying und Yang Brunnen
    %img{alt: 'sommer-winter: Ying und Yang Brunnen, Aus Gneis.', 'data-large' => '/images/galleries/101/DSC00029_440x.jpg', 'data-small' => '/images/galleries/101/DSC00029_220x.jpg', src: '/images/galleries/101/DSC00029_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Ying und Yang Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Brunnen Gruppe
    %img{alt: 'sommer-winter: Brunnen Gruppe , ', 'data-large' => '/images/galleries/101/PICT0007.JPG_440x.jpg', 'data-small' => '/images/galleries/101/PICT0007.JPG_220x.jpg', src: '/images/galleries/101/PICT0007.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Brunnen Gruppe
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Quader Brunnen
    %img{alt: 'sommer-winter: Quader Brunnen, ', 'data-large' => '/images/galleries/101/IMG_0177_440x.JPG', 'data-small' => '/images/galleries/101/IMG_0177_220x.JPG', src: '/images/galleries/101/IMG_0177_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Quader Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Quader Brunnen
    %img{alt: 'sommer-winter: Quader Brunnen, ', 'data-large' => '/images/galleries/101/IMG_0183_440x.jpg', 'data-small' => '/images/galleries/101/IMG_0183_220x.jpg', src: '/images/galleries/101/IMG_0183_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Quader Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'} Aus Onsernone Gneis.
    %span.name{style: 'display: none;'} Quader Brunnen
    %img{alt: 'sommer-winter: Quader Brunnen, Aus Onsernone Gneis.', 'data-large' => '/images/galleries/101/IMG_0179_440x.JPG', 'data-small' => '/images/galleries/101/IMG_0179_220x.JPG', src: '/images/galleries/101/IMG_0179_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Quader Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Garten Brunnen
    %img{alt: 'sommer-winter: Garten Brunnen, ', 'data-large' => '/images/galleries/101/IMG_0185_440x.jpg', 'data-small' => '/images/galleries/101/IMG_0185_220x.jpg', src: '/images/galleries/101/IMG_0185_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Garten Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Terassen Brunnen
    %img{alt: 'sommer-winter: Terassen Brunnen, ', 'data-large' => '/images/galleries/101/DSC00073_440x.jpg', 'data-small' => '/images/galleries/101/DSC00073_220x.jpg', src: '/images/galleries/101/DSC00073_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Terassen Brunnen
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vier Meter hoher Brunnen.
    %img{alt: 'sommer-winter: Vier Meter hoher Brunnen., ', 'data-large' => '/images/galleries/101/PICT0002_440x_440x.jpeg', 'data-small' => '/images/galleries/101/PICT0002_440x_220x.jpeg', src: '/images/galleries/101/PICT0002_440x_220x.jpeg'}/
    .ic_caption{style: 'display: none;'} Vier Meter hoher Brunnen.
  .item.sommer-winter
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Vier Meter hoher Brunnen
    %img{alt: 'sommer-winter: Vier Meter hoher Brunnen, ', 'data-large' => '/images/galleries/101/PICT0005_2_440x_440x.jpeg', 'data-small' => '/images/galleries/101/PICT0005_2_440x_220x.jpeg', src: '/images/galleries/101/PICT0005_2_440x_220x.jpeg'}/
    .ic_caption{style: 'display: none;'} Vier Meter hoher Brunnen
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbäder aus Mägenwieler Muschelkalk
    %span.name{style: 'display: none;'} Vogelbäder
    %img{alt: 'vogelbder: Vogelbäder, Vogelbäder aus Mägenwieler Muschelkalk', 'data-large' => '/images/galleries/102/Vogelba_der_1_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_1_220x.jpg', src: '/images/galleries/102/Vogelba_der_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbäder
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad aus Comblachiene Kalkstein (Frankreich) mit Tessiner Gneis
    %span.name{style: 'display: none;'} Vogelbad
    %img{alt: 'vogelbder: Vogelbad, Vogelbad aus Comblachiene Kalkstein (Frankreich) mit Tessiner Gneis', 'data-large' => '/images/galleries/102/Vogelba_der_2_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_2_220x.jpg', src: '/images/galleries/102/Vogelba_der_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad mit Muscheln in Comblachiene Kalkstein (Frankreich)
    %span.name{style: 'display: none;'} Vogelbad mit Muscheln
    %img{alt: 'vogelbder: Vogelbad mit Muscheln, Vogelbad mit Muscheln in Comblachiene Kalkstein (Frankreich)', 'data-large' => '/images/galleries/102/Vogelba_der_3_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_3_220x.jpg', src: '/images/galleries/102/Vogelba_der_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad mit Muscheln
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad mit Frosch Bardiglio Marmor (Italien)
    %span.name{style: 'display: none;'} Vogelbad mit Frosch
    %img{alt: 'vogelbder: Vogelbad mit Frosch, Vogelbad mit Frosch Bardiglio Marmor (Italien)', 'data-large' => '/images/galleries/102/Vogelba_der_4_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_4_220x.jpg', src: '/images/galleries/102/Vogelba_der_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad mit Frosch
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad Frosch Comblachiene Kalkstein (Frankreich)
    %span.name{style: 'display: none;'} Vogelbad Frosch
    %img{alt: 'vogelbder: Vogelbad Frosch, Vogelbad Frosch Comblachiene Kalkstein (Frankreich)', 'data-large' => '/images/galleries/102/Vogelba_der_5_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_5_220x.jpg', src: '/images/galleries/102/Vogelba_der_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad Frosch
  .item.vogelbder
    %span.description{style: 'display: none;'} Geissen trink stelle aus Mägenwieler Muschelkalk
    %span.name{style: 'display: none;'} Geissen trink stelle
    %img{alt: 'vogelbder: Geissen trink stelle , Geissen trink stelle aus Mägenwieler Muschelkalk ', 'data-large' => '/images/galleries/102/Vogelba_der_6_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_6_220x.jpg', src: '/images/galleries/102/Vogelba_der_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Geissen trink stelle
  .item.vogelbder
    %span.description{style: 'display: none;'} 2Frösche Brunnen aus ST.Michel Kalkstein (Frankreich)
    %span.name{style: 'display: none;'} 2Frösche Brunnen
    %img{alt: 'vogelbder: 2Frösche Brunnen, 2Frösche Brunnen aus ST.Michel Kalkstein (Frankreich)', 'data-large' => '/images/galleries/102/Vogelba_der_7_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_7_220x.jpg', src: '/images/galleries/102/Vogelba_der_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} 2Frösche Brunnen
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad aus Tessiner Gneis
    %span.name{style: 'display: none;'} Vogelbad
    %img{alt: 'vogelbder: Vogelbad, Vogelbad aus Tessiner Gneis', 'data-large' => '/images/galleries/102/Vogelba_der_8_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_8_220x.jpg', src: '/images/galleries/102/Vogelba_der_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad mit Vogel aus Comblachiene Kalkstein (Frankreich)
    %span.name{style: 'display: none;'} Vogelbad mit Vogel
    %img{alt: 'vogelbder: Vogelbad mit Vogel, Vogelbad mit Vogel aus Comblachiene Kalkstein (Frankreich)', 'data-large' => '/images/galleries/102/Vogelba_der_9_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_9_220x.jpg', src: '/images/galleries/102/Vogelba_der_9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad mit Vogel
  .item.vogelbder
    %span.description{style: 'display: none;'} Vogelbad mit Vogel,Bad aus Kalkstein,Vogel aus Christallina Marmor
    %span.name{style: 'display: none;'} Vogelbad mit Vogel
    %img{alt: 'vogelbder: Vogelbad mit Vogel, Vogelbad mit Vogel,Bad aus Kalkstein,Vogel aus Christallina Marmor ', 'data-large' => '/images/galleries/102/Vogelba_der_10_440x.jpg', 'data-small' => '/images/galleries/102/Vogelba_der_10_220x.jpg', src: '/images/galleries/102/Vogelba_der_10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Vogelbad mit Vogel
