---
layout: 'gallery'
---

%h2 Grabmale

%p Einen geliebten Menschen zu verlieren schmerzt. Umso wichtiger kann ein individuel gestaltetes Grab sein, als Ort der Kraft um uns an die verstorbene Person zu erinnern, zum Meditieren und die innere Ruhe zu finden. Wir unterstützen Sie bei der Gestaltung des Grabmales und Schriftplatten und helfen Ihnen bei der Entwicklung ein Ortes als Zeichen des Gedenkes.
%p Sehen Sie in den folgenden Bildergalerien eine Auswahl an verschiedenen Grabmalen, welche wir erstellt haben:

%ul.filter
  %li Kategorien:
  %li
    = link_to '➜Grabsteine', '#grabsteine', name: 'grabsteine'
  %li
    = link_to '➜Familiengräber', '#familiengrber', name: 'familiengrber'
  %li
    = link_to '➜Schriftplatten', '#schriftplatten', name: 'schriftplatten'
  %li
    = link_to '➜Grabgestaltung Natursteine', '#grabgestaltung-natursteine', name: 'grabgestaltung-natursteine'

#gallery
  .item.grabsteine
    %span.description{style: 'display: none;'} Schrift graviert
    %span.name{style: 'display: none;'} Carrara Marmor
    %img{alt: 'grabsteine: Carrara Marmor, Schrift graviert', 'data-large' => '/images/galleries/98/DSC00613_440x.jpg', 'data-small' => '/images/galleries/98/DSC00613_220x.jpg', src: '/images/galleries/98/DSC00613_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Carrara Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Engel Motiv mit Kugel als Namensträger.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Engel Motiv mit Kugel als Namensträger. ', 'data-large' => '/images/galleries/98/DSC00505_440x.jpg', 'data-small' => '/images/galleries/98/DSC00505_220x.jpg', src: '/images/galleries/98/DSC00505_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Engel mit Kugel als Schrift Träger.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Engel mit Kugel als Schrift Träger.', 'data-large' => '/images/galleries/98/DSC00507_440x.jpg', 'data-small' => '/images/galleries/98/DSC00507_220x.jpg', src: '/images/galleries/98/DSC00507_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
      Grabstein aus Kalkstein,Thema aufgehendes Herz.
      Inschrift graviert.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Grabstein aus Kalkstein,Thema aufgehendes Herz.\r\nInschrift graviert.', 'data-large' => '/images/galleries/98/DSC00211_440x.jpg', 'data-small' => '/images/galleries/98/DSC00211_220x.jpg', src: '/images/galleries/98/DSC00211_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Der Sport stand im Vordergrund.
    %span.name{style: 'display: none;'} Aus Tessiner Gneis Einsätze Carrara Marmor
    %img{alt: 'grabsteine: Aus Tessiner Gneis Einsätze Carrara Marmor, Thema:Der Sport stand im Vordergrund.', 'data-large' => '/images/galleries/98/DSC00303_440x.jpg', 'data-small' => '/images/galleries/98/DSC00303_220x.jpg', src: '/images/galleries/98/DSC00303_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Tessiner Gneis Einsätze Carrara Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Grabstein in Sternen Form.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Grabstein in Sternen Form.', 'data-large' => '/images/galleries/98/DSC00430_440x.jpg', 'data-small' => '/images/galleries/98/DSC00430_220x.jpg', src: '/images/galleries/98/DSC00430_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
      Thema: Aufsteigende Taube.
      Schrift: graviert
    %span.name{style: 'display: none;'} Aus Carrara Marmor
    %img{alt: 'grabsteine: Aus Carrara Marmor, Thema: Aufsteigende Taube.\r\nSchrift: graviert', 'data-large' => '/images/galleries/98/DSC00436_440x.jpg', 'data-small' => '/images/galleries/98/DSC00436_220x.jpg', src: '/images/galleries/98/DSC00436_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Carrara Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Grabstein aus Kalkstein, mit eingesetztem Stahlband.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Grabstein aus Kalkstein, mit eingesetztem Stahlband.', 'data-large' => '/images/galleries/98/DSC00495_440x.jpg', 'data-small' => '/images/galleries/98/DSC00495_220x.jpg', src: '/images/galleries/98/DSC00495_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Granit und Marmor Thema:Ein Alter Grabstein und ein neuer Stein werden verbunden zu etwas neuem.
    %span.name{style: 'display: none;'} Zwei Steine Verbunden
    %img{alt: 'grabsteine: Zwei Steine Verbunden, Granit und Marmor Thema:Ein Alter Grabstein und ein neuer Stein werden verbunden zu etwas neuem.', 'data-large' => '/images/galleries/98/PICT0009_440x.jpg', 'data-small' => '/images/galleries/98/PICT0009_220x.jpg', src: '/images/galleries/98/PICT0009_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Zwei Steine Verbunden
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Der verstorbene wahr sehr belesen und hatte mehrere tausend Bücher.Und Diverse Hobby,die eingraviert wurden.
    %span.name{style: 'display: none;'} Aus diversen Stein Materialien
    %img{alt: 'grabsteine: Aus diversen Stein Materialien , Thema:Der verstorbene wahr sehr belesen und hatte mehrere tausend Bücher.Und Diverse Hobby,die eingraviert wurden.', 'data-large' => '/images/galleries/98/IMGP3219_440x.jpg', 'data-small' => '/images/galleries/98/IMGP3219_220x.jpg', src: '/images/galleries/98/IMGP3219_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus diversen Stein Materialien
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema: Der verstorbene wahr sehr belesen und hatte mehrere tausend Bücher. Und Diverse Hobby,die eingraviert wurden.
    %span.name{style: 'display: none;'} Aus diversen Stein Materialien
    %img{alt: 'grabsteine: Aus diversen Stein Materialien , Thema: Der verstorbene wahr sehr belesen und hatte mehrere tausend Bücher. Und Diverse Hobby,die eingraviert wurden.', 'data-large' => '/images/galleries/98/IMGP3221_440x.jpg', 'data-small' => '/images/galleries/98/IMGP3221_220x.jpg', src: '/images/galleries/98/IMGP3221_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus diversen Stein Materialien
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Der verstorbene wahr sehr belesen und hatte mehrere tausend Bücher.Und Diverse Hobby,die eingraviert wurden.
    %span.name{style: 'display: none;'} Aus diversen Stein Materialien
    %img{alt: 'grabsteine: Aus diversen Stein Materialien, Thema:Der verstorbene wahr sehr belesen und hatte mehrere tausend Bücher.Und Diverse Hobby,die eingraviert wurden.', 'data-large' => '/images/galleries/98/IMGP3222_440x.jpg', 'data-small' => '/images/galleries/98/IMGP3222_220x.jpg', src: '/images/galleries/98/IMGP3222_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus diversen Stein Materialien
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Cristallina Marmor (Schweiz) mit eingesetzte Natursteinen Urnenstein,Inschrift graviert getönt
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Aus Cristallina Marmor (Schweiz) mit eingesetzte Natursteinen Urnenstein,Inschrift graviert getönt ', 'data-large' => '/images/galleries/98/Grabsteine_1_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_1_220x.jpg', src: '/images/galleries/98/Grabsteine_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus ST.Michel Kalkstein (Frankreich) Urnenstein,Inschrift graviert getönt
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Aus ST.Michel Kalkstein (Frankreich) Urnenstein,Inschrift graviert getönt ', 'data-large' => '/images/galleries/98/Grabsteine_2_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_2_220x.jpg', src: '/images/galleries/98/Grabsteine_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Ein Felsenstein mit einer Alu Schrift
    %span.name{style: 'display: none;'} Aus Schiffer
    %img{alt: 'grabsteine: Aus Schiffer , Ein Felsenstein mit einer Alu Schrift ', 'data-large' => '/images/galleries/98/Grabsteine_4_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_4_220x.jpg', src: '/images/galleries/98/Grabsteine_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Schiffer
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus ST.Michel Kalkstein (Frankreich) ,Inschrift graviert ausgemalt, Erdbestattung
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Aus ST.Michel Kalkstein (Frankreich) ,Inschrift graviert ausgemalt, Erdbestattung ', 'data-large' => '/images/galleries/98/Grabsteine_5_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_5_220x.jpg', src: '/images/galleries/98/Grabsteine_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus ST.Michel Kalkstein (Frankreich) ,Inschrift graviert ausgemalt, Erdbestattung
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Aus ST.Michel Kalkstein (Frankreich) ,Inschrift graviert ausgemalt, Erdbestattung ', 'data-large' => '/images/galleries/98/Grabsteine_6_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_6_220x.jpg', src: '/images/galleries/98/Grabsteine_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Cristallina Marmor (Schweiz) mit einer Relief Rose in der Fläche Schrift graviert getönt
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Aus Cristallina Marmor (Schweiz) mit einer Relief Rose in der Fläche Schrift graviert getönt', 'data-large' => '/images/galleries/98/Grabsteine_7_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_7_220x.jpg', src: '/images/galleries/98/Grabsteine_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Basalt
    %img{alt: 'grabsteine: Aus Basalt , ', 'data-large' => '/images/galleries/98/Grabsteine_8_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_8_220x.jpg', src: '/images/galleries/98/Grabsteine_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Basalt
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_10_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_10_220x.jpg', src: '/images/galleries/98/Grabsteine_10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_9_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_9_220x.jpg', src: '/images/galleries/98/Grabsteine_9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_11_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_11_220x.jpg', src: '/images/galleries/98/Grabsteine_11_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_12_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_12_220x.jpg', src: '/images/galleries/98/Grabsteine_12_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus ST.Michel Kalkstein (Frankreich) mit eingesetzten Natursteinen, Urnenbestattung.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Aus ST.Michel Kalkstein (Frankreich) mit eingesetzten Natursteinen, Urnenbestattung. ', 'data-large' => '/images/galleries/98/Grabsteine_13_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_13_220x.jpg', src: '/images/galleries/98/Grabsteine_13_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_14_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_14_220x.jpg', src: '/images/galleries/98/Grabsteine_14_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Verde Spluga (Schweiz) Inschrift graviert u. ausgemalt
    %span.name{style: 'display: none;'} Aus Quarzit
    %img{alt: 'grabsteine: Aus Quarzit , Verde Spluga (Schweiz) Inschrift graviert u. ausgemalt ', 'data-large' => '/images/galleries/98/Grabsteine_15_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_15_220x.jpg', src: '/images/galleries/98/Grabsteine_15_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Quarzit
  .item.grabsteine
    %span.description{style: 'display: none;'} Mit eingesetzten Glas Blühten
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Mit eingesetzten Glas Blühten ', 'data-large' => '/images/galleries/98/Grabsteine_16_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_16_220x.jpg', src: '/images/galleries/98/Grabsteine_16_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_17_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_17_220x.jpg', src: '/images/galleries/98/Grabsteine_17_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_18_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_18_220x.jpg', src: '/images/galleries/98/Grabsteine_18_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_19_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_19_220x.jpg', src: '/images/galleries/98/Grabsteine_19_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_20_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_20_220x.jpg', src: '/images/galleries/98/Grabsteine_20_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Creschiano Gneis (Tessin),Bearbeitung gestockt,Inschrift graviert u. ausgemalt
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Creschiano Gneis (Tessin),Bearbeitung gestockt,Inschrift graviert u. ausgemalt', 'data-large' => '/images/galleries/98/Grabsteine_21_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_21_220x.jpg', src: '/images/galleries/98/Grabsteine_21_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'} Roter Granit Inschrift Bronze
    %span.name{style: 'display: none;'} Aus Granit
    %img{alt: 'grabsteine: Aus Granit, Roter Granit Inschrift Bronze', 'data-large' => '/images/galleries/98/Grabsteine_22_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_22_220x.jpg', src: '/images/galleries/98/Grabsteine_22_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Granit
  .item.grabsteine
    %span.description{style: 'display: none;'} Kreuz Eichenholz,Inschrift graviert ausgemalt
    %span.name{style: 'display: none;'} Kreuz Eichenholz
    %img{alt: 'grabsteine: Kreuz Eichenholz, Kreuz Eichenholz,Inschrift graviert ausgemalt ', 'data-large' => '/images/galleries/98/Grabsteine_23_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_23_220x.jpg', src: '/images/galleries/98/Grabsteine_23_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kreuz Eichenholz
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus ST.Michel Kalkstein (Frankreich) mit eingesetzte Natursteinen Erdbestattung
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Aus ST.Michel Kalkstein (Frankreich) mit eingesetzte Natursteinen Erdbestattung ', 'data-large' => '/images/galleries/98/Grabsteine_24_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_24_220x.jpg', src: '/images/galleries/98/Grabsteine_24_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_25_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_25_220x.jpg', src: '/images/galleries/98/Grabsteine_25_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_26_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_26_220x.jpg', src: '/images/galleries/98/Grabsteine_26_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_27_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_27_220x.jpg', src: '/images/galleries/98/Grabsteine_27_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Verde Andeer Gneis (Schweiz) mit eingesetztem Kalkstein,Inschrift graviert ausgemalt
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Aus Verde Andeer Gneis (Schweiz) mit eingesetztem Kalkstein,Inschrift graviert ausgemalt ', 'data-large' => '/images/galleries/98/Grabsteine_28_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_28_220x.jpg', src: '/images/galleries/98/Grabsteine_28_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus einem Comblanchien Kalkstein (Frankreich)
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Aus einem Comblanchien Kalkstein (Frankreich)', 'data-large' => '/images/galleries/98/Grabsteine_29_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_29_220x.jpg', src: '/images/galleries/98/Grabsteine_29_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus einem halb Marmor (Palisandro) Inschrift u. Süsche graviert
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Aus einem halb Marmor (Palisandro) Inschrift u. Süsche graviert', 'data-large' => '/images/galleries/98/Grabsteine_30_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_30_220x.jpg', src: '/images/galleries/98/Grabsteine_30_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_31_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_31_220x.jpg', src: '/images/galleries/98/Grabsteine_31_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_32_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_32_220x.jpg', src: '/images/galleries/98/Grabsteine_32_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalktuff
    %img{alt: 'grabsteine: Aus Kalktuff , ', 'data-large' => '/images/galleries/98/Grabsteine_33_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_33_220x.jpg', src: '/images/galleries/98/Grabsteine_33_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalktuff
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_35_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_35_220x.jpg', src: '/images/galleries/98/Grabsteine_35_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_34_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_34_220x.jpg', src: '/images/galleries/98/Grabsteine_34_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_36_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_36_220x.jpg', src: '/images/galleries/98/Grabsteine_36_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_37_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_37_220x.jpg', src: '/images/galleries/98/Grabsteine_37_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Quarzit
    %img{alt: 'grabsteine: Aus Quarzit, ', 'data-large' => '/images/galleries/98/Grabsteine_38_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_38_220x.jpg', src: '/images/galleries/98/Grabsteine_38_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Quarzit
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Verde Andeer Gneis (Schweiz) mit Relieffisch,Inschrift graviert u. ausgemalt
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Aus Verde Andeer Gneis (Schweiz) mit Relieffisch,Inschrift graviert u. ausgemalt ', 'data-large' => '/images/galleries/98/Grabsteine_39_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_39_220x.jpg', src: '/images/galleries/98/Grabsteine_39_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Muschelkalkstein
    %img{alt: 'grabsteine: Aus Muschelkalkstein , ', 'data-large' => '/images/galleries/98/Grabsteine_40_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_40_220x.jpg', src: '/images/galleries/98/Grabsteine_40_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Muschelkalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_41_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_41_220x.jpg', src: '/images/galleries/98/Grabsteine_41_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_42_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_42_220x.jpg', src: '/images/galleries/98/Grabsteine_42_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_43_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_43_220x.jpg', src: '/images/galleries/98/Grabsteine_43_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/Grabsteine_44_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_44_220x.jpg', src: '/images/galleries/98/Grabsteine_44_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Serpentin
    %img{alt: 'grabsteine: Aus Serpentin , ', 'data-large' => '/images/galleries/98/Grabsteine_45_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_45_220x.jpg', src: '/images/galleries/98/Grabsteine_45_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Serpentin
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, ', 'data-large' => '/images/galleries/98/Grabsteine_46_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_46_220x.jpg', src: '/images/galleries/98/Grabsteine_46_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Muschelkalkstein
    %img{alt: 'grabsteine: Aus Muschelkalkstein , ', 'data-large' => '/images/galleries/98/Grabsteine_47_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_47_220x.jpg', src: '/images/galleries/98/Grabsteine_47_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Muschelkalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Gneis mit einer Alu Schrift
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Aus Gneis mit einer Alu Schrift ', 'data-large' => '/images/galleries/98/Grabsteine_48_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_48_220x.jpg', src: '/images/galleries/98/Grabsteine_48_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/Grabsteine_49_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_49_220x.jpg', src: '/images/galleries/98/Grabsteine_49_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Verde Andeer Gneis (Schweiz) Bearbeitung fein gespitzt,Maria und Schrift in Bronze
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Aus Verde Andeer Gneis (Schweiz) Bearbeitung fein gespitzt,Maria und Schrift in Bronze', 'data-large' => '/images/galleries/98/Grabsteine_50_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_50_220x.jpg', src: '/images/galleries/98/Grabsteine_50_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'} Mit Bronze Schrift und Kreuz.
    %span.name{style: 'display: none;'} Grabstein aus Granit poliert
    %img{alt: 'grabsteine: Grabstein aus Granit poliert , Mit Bronze Schrift und Kreuz.', 'data-large' => '/images/galleries/98/DSC00009_440x.jpg', 'data-small' => '/images/galleries/98/DSC00009_220x.jpg', src: '/images/galleries/98/DSC00009_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grabstein aus Granit poliert
  .item.grabsteine
    %span.description{style: 'display: none;'} Gneis mit Bronze Engel und Bronze Schrift.
    %span.name{style: 'display: none;'} Aus Verte Spluga Gneis
    %img{alt: 'grabsteine: Aus Verte Spluga Gneis, Gneis mit Bronze Engel und Bronze Schrift.', 'data-large' => '/images/galleries/98/IMGP2889_440x.jpg', 'data-small' => '/images/galleries/98/IMGP2889_220x.jpg', src: '/images/galleries/98/IMGP2889_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Verte Spluga Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema: Oldtimer Fan.
    %span.name{style: 'display: none;'} Aus ST.Michel Kalkstein
    %img{alt: 'grabsteine: Aus ST.Michel Kalkstein, Thema: Oldtimer Fan.', 'data-large' => '/images/galleries/98/IMGP3060_440x.jpg', 'data-small' => '/images/galleries/98/IMGP3060_220x.jpg', src: '/images/galleries/98/IMGP3060_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus ST.Michel Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Schrift:graviert ', 'data-large' => '/images/galleries/98/IMGP3066_440x.jpg', 'data-small' => '/images/galleries/98/IMGP3066_220x.jpg', src: '/images/galleries/98/IMGP3066_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Schrift und Kreuz graviert.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Schrift und Kreuz graviert.', 'data-large' => '/images/galleries/98/PICT0006_440x.jpg', 'data-small' => '/images/galleries/98/PICT0006_220x.jpg', src: '/images/galleries/98/PICT0006_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema: Sonne und Kornblume.
    %span.name{style: 'display: none;'} Aus halb Marmor
    %img{alt: 'grabsteine: Aus halb Marmor, Thema: Sonne und Kornblume.', 'data-large' => '/images/galleries/98/PICT0016_440x.jpg', 'data-small' => '/images/galleries/98/PICT0016_220x.jpg', src: '/images/galleries/98/PICT0016_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus halb Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
      Zwei verschiedene Marmor Arten.
      Thema:Mann und Frau die sich anlehnen.
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Zwei verschiedene Marmor Arten.\r\nThema:Mann und Frau die sich anlehnen.', 'data-large' => '/images/galleries/98/PICT0017_440x.jpg', 'data-small' => '/images/galleries/98/PICT0017_220x.jpg', src: '/images/galleries/98/PICT0017_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Ein Platz in der Natur.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Thema:Ein Platz in der Natur.', 'data-large' => '/images/galleries/98/PICT0020_2_440x.jpg', 'data-small' => '/images/galleries/98/PICT0020_2_220x.jpg', src: '/images/galleries/98/PICT0020_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Granit und Marmor
    %img{alt: 'grabsteine: Granit und Marmor, ', 'data-large' => '/images/galleries/98/PICT0020_440x.jpg', 'data-small' => '/images/galleries/98/PICT0020_220x.jpg', src: '/images/galleries/98/PICT0020_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Granit und Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Kugel die sich auslöst.
    %span.name{style: 'display: none;'} Muschelkalk
    %img{alt: 'grabsteine: Muschelkalk, Thema:Kugel die sich auslöst.', 'data-large' => '/images/galleries/98/PICT0030_440x.jpg', 'data-small' => '/images/galleries/98/PICT0030_220x.jpg', src: '/images/galleries/98/PICT0030_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Muschelkalk
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, ', 'data-large' => '/images/galleries/98/IMGP1565.JPG_440x.jpg', 'data-small' => '/images/galleries/98/IMGP1565.JPG_220x.jpg', src: '/images/galleries/98/IMGP1565.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, ', 'data-large' => '/images/galleries/98/IMGP1547.JPG_440x.jpg', 'data-small' => '/images/galleries/98/IMGP1547.JPG_220x.jpg', src: '/images/galleries/98/IMGP1547.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Das Integrierte Bepflanzung möglich ist.
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Thema:Das Integrierte Bepflanzung möglich ist.', 'data-large' => '/images/galleries/98/IMGP1560.JPG_440x.jpg', 'data-small' => '/images/galleries/98/IMGP1560.JPG_220x.jpg', src: '/images/galleries/98/IMGP1560.JPG_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, ', 'data-large' => '/images/galleries/98/DSC00019_440x.jpg', 'data-small' => '/images/galleries/98/DSC00019_220x.jpg', src: '/images/galleries/98/DSC00019_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Aus Cristallina Marmor (Schweiz) mit eingesetzte Natursteinen Erdbestattung,Inschrift graviert getönt
    %span.name{style: 'display: none;'} Aus Marmor
    %img{alt: 'grabsteine: Aus Marmor, Aus Cristallina Marmor (Schweiz) mit eingesetzte Natursteinen Erdbestattung,Inschrift graviert getönt ', 'data-large' => '/images/galleries/98/Grabsteine_3_440x.jpg', 'data-small' => '/images/galleries/98/Grabsteine_3_220x.jpg', src: '/images/galleries/98/Grabsteine_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Valser Quarzit
    %img{alt: 'grabsteine: Aus Valser Quarzit, ', 'data-large' => '/images/galleries/98/PICT0006_440x.jpg', 'data-small' => '/images/galleries/98/PICT0006_220x.jpg', src: '/images/galleries/98/PICT0006_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Valser Quarzit
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Berge und Rose.
    %span.name{style: 'display: none;'} Aus Kalkstein
    %img{alt: 'grabsteine: Aus Kalkstein, Thema:Berge und Rose.', 'data-large' => '/images/galleries/98/DSC00088_440x.jpg', 'data-small' => '/images/galleries/98/DSC00088_220x.jpg', src: '/images/galleries/98/DSC00088_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Hände mit Glaskugel
    %span.name{style: 'display: none;'} Aus Rosa Marmor
    %img{alt: 'grabsteine: Aus Rosa Marmor, Hände mit Glaskugel ', 'data-large' => '/images/galleries/98/DSC00162_440x.jpg', 'data-small' => '/images/galleries/98/DSC00162_220x.jpg', src: '/images/galleries/98/DSC00162_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Rosa Marmor
  .item.grabsteine
    %span.description{style: 'display: none;'} Mit Alu Madona.
    %span.name{style: 'display: none;'} Kalkstein
    %img{alt: 'grabsteine: Kalkstein, Mit Alu Madona.', 'data-large' => '/images/galleries/98/DSC00170_440x.jpg', 'data-small' => '/images/galleries/98/DSC00170_220x.jpg', src: '/images/galleries/98/DSC00170_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus zwei Gneisen
    %img{alt: 'grabsteine: Aus zwei Gneisen , ', 'data-large' => '/images/galleries/98/DSC00207_440x.jpg', 'data-small' => '/images/galleries/98/DSC00207_220x.jpg', src: '/images/galleries/98/DSC00207_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus zwei Gneisen
  .item.grabsteine
    %span.description{style: 'display: none;'} Grabstein mit eingesetzten Herzen aus Kalkstein.
    %span.name{style: 'display: none;'} Kalkstein
    %img{alt: 'grabsteine: Kalkstein, Grabstein mit eingesetzten Herzen aus Kalkstein.', 'data-large' => '/images/galleries/98/DSC00234_440x.jpg', 'data-small' => '/images/galleries/98/DSC00234_220x.jpg', src: '/images/galleries/98/DSC00234_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Kalkstein
  .item.grabsteine
    %span.description{style: 'display: none;'} Thema:Baum mit Wurzeln.
    %span.name{style: 'display: none;'} Aus Korallenkalk
    %img{alt: 'grabsteine: Aus Korallenkalk, Thema:Baum mit Wurzeln.', 'data-large' => '/images/galleries/98/DSC00232_440x.jpg', 'data-small' => '/images/galleries/98/DSC00232_220x.jpg', src: '/images/galleries/98/DSC00232_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Korallenkalk
  .item.grabsteine
    %span.description{style: 'display: none;'} Schrift:Handschriftlich graviert.
    %span.name{style: 'display: none;'} Aus rotem Kalkquarzit
    %img{alt: 'grabsteine: Aus rotem Kalkquarzit, Schrift:Handschriftlich graviert.', 'data-large' => '/images/galleries/98/DSC00373_440x.jpg', 'data-small' => '/images/galleries/98/DSC00373_220x.jpg', src: '/images/galleries/98/DSC00373_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus rotem Kalkquarzit
  .item.grabsteine
    %span.description{style: 'display: none;'} Mit Alu Schrift und Kreuz mit Rose:
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Mit Alu Schrift und Kreuz mit Rose:', 'data-large' => '/images/galleries/98/DSC00410_440x.jpg', 'data-small' => '/images/galleries/98/DSC00410_220x.jpg', src: '/images/galleries/98/DSC00410_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'} Mit eingesetztem Bergkristal.
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'grabsteine: Aus Gneis, Mit eingesetztem Bergkristal.', 'data-large' => '/images/galleries/98/DSC00412_440x.jpg', 'data-small' => '/images/galleries/98/DSC00412_220x.jpg', src: '/images/galleries/98/DSC00412_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.grabsteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Aus Cristalina Marmor
    %img{alt: 'grabsteine: Aus Cristalina Marmor, ', 'data-large' => '/images/galleries/98/DSC00438_440x.jpg', 'data-small' => '/images/galleries/98/DSC00438_220x.jpg', src: '/images/galleries/98/DSC00438_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus Cristalina Marmor
  .item.familiengrber
    %span.description{style: 'display: none;'} Ergänzung eines Familiengrabes,mit dem Material Walliser grün
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Ergänzung eines Familiengrabes,mit dem Material Walliser grün', 'data-large' => '/images/galleries/96/Familiengra_ber_1_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_1_220x.jpg', src: '/images/galleries/96/Familiengra_ber_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Familiengrab aus Nero Aseluto
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Familiengrab aus Nero Aseluto', 'data-large' => '/images/galleries/96/Familiengra_ber_2_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_2_220x.jpg', src: '/images/galleries/96/Familiengra_ber_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Familiengrab aus Nero Aseluto
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Familiengrab aus Nero Aseluto', 'data-large' => '/images/galleries/96/Familiengra_ber_3_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_3_220x.jpg', src: '/images/galleries/96/Familiengra_ber_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Material Verde Spluga (Schweiz)
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Material Verde Spluga (Schweiz)', 'data-large' => '/images/galleries/96/Familiengra_ber_4_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_4_220x.jpg', src: '/images/galleries/96/Familiengra_ber_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Material Melsser Schiffer (Schweiz)
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Material Melsser Schiffer (Schweiz)', 'data-large' => '/images/galleries/96/Familiengra_ber_5_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_5_220x.jpg', src: '/images/galleries/96/Familiengra_ber_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Material Comblachiene Kalkstein (Frankreich) Kreuz Bronze
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Material Comblachiene Kalkstein (Frankreich) Kreuz Bronze ', 'data-large' => '/images/galleries/96/Familiengra_ber_6_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_6_220x.jpg', src: '/images/galleries/96/Familiengra_ber_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Material Comblachiene Kalkstein (Frankreich) Kreuz Bronze
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Material Comblachiene Kalkstein (Frankreich) Kreuz Bronze ', 'data-large' => '/images/galleries/96/Familiengra_ber_7_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_7_220x.jpg', src: '/images/galleries/96/Familiengra_ber_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.familiengrber
    %span.description{style: 'display: none;'} Material Bardiglio Marmor (Italien) Madona Bronze
    %span.name{style: 'display: none;'} Familiengrab
    %img{alt: 'familiengrber: Familiengrab, Material Bardiglio Marmor (Italien) Madona Bronze', 'data-large' => '/images/galleries/96/Familiengra_ber_8_440x.jpg', 'data-small' => '/images/galleries/96/Familiengra_ber_8_220x.jpg', src: '/images/galleries/96/Familiengra_ber_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familiengrab
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schrift graviert
    %span.name{style: 'display: none;'} Aus rosa Marmor
    %img{alt: 'schriftplatten: Aus rosa Marmor, Schrift graviert ', 'data-large' => '/images/galleries/99/DSC_0220_440x.jpg', 'data-small' => '/images/galleries/99/DSC_0220_220x.jpg', src: '/images/galleries/99/DSC_0220_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Aus rosa Marmor
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schrift graviert
    %span.name{style: 'display: none;'} Aus Carrara Marmor
    %img{alt: 'schriftplatten: Aus Carrara Marmor , Schrift graviert ', 'data-large' => '/images/galleries/99/PICT0006_440x.JPG', 'data-small' => '/images/galleries/99/PICT0006_220x.JPG', src: '/images/galleries/99/PICT0006_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Aus Carrara Marmor
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schrift:graviert
    %span.name{style: 'display: none;'} Aus Gneis
    %img{alt: 'schriftplatten: Aus Gneis, Schrift:graviert', 'data-large' => '/images/galleries/99/DSC00193_440x.JPG', 'data-small' => '/images/galleries/99/DSC00193_220x.JPG', src: '/images/galleries/99/DSC00193_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Aus Gneis
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schrift:Bronze
    %span.name{style: 'display: none;'} Alpenkalk
    %img{alt: 'schriftplatten: Alpenkalk, Schrift:Bronze', 'data-large' => '/images/galleries/99/DSC00490_440x.JPG', 'data-small' => '/images/galleries/99/DSC00490_220x.JPG', src: '/images/galleries/99/DSC00490_220x.JPG'}/
    .ic_caption{style: 'display: none;'} Alpenkalk
  .item.schriftplatten
    %span.description{style: 'display: none;'} Material Comblachiene Kalkstein (Frankreich) Schrift ausgemalt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Material Comblachiene Kalkstein (Frankreich) Schrift ausgemalt ', 'data-large' => '/images/galleries/99/Schriftplatten_1_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_1_220x.jpg', src: '/images/galleries/99/Schriftplatten_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Herz Form mit Relief Rossen Schrift ausgemalt Material rosa Marmor
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Herz Form mit Relief Rossen Schrift ausgemalt Material rosa Marmor', 'data-large' => '/images/galleries/99/Schriftplatten_2_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_2_220x.jpg', src: '/images/galleries/99/Schriftplatten_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Prali Marmor, Schrift ausgemalt, Relief Maria in Bronze,Porzellan Bild
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Prali Marmor, Schrift ausgemalt, Relief Maria in Bronze,Porzellan Bild ', 'data-large' => '/images/galleries/99/Schriftplatten_3_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_3_220x.jpg', src: '/images/galleries/99/Schriftplatten_3_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte aus Mägenwieler Muschelkalk (gelb), Schrift und Baum graviert ausgemalt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte aus Mägenwieler Muschelkalk (gelb), Schrift und Baum graviert ausgemalt', 'data-large' => '/images/galleries/99/Schriftplatten_4_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_4_220x.jpg', src: '/images/galleries/99/Schriftplatten_4_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Material Findling Schrift graviert und ausgemalt
    %span.name{style: 'display: none;'} Schrift Stein
    %img{alt: 'schriftplatten: Schrift Stein, Material Findling Schrift graviert und ausgemalt', 'data-large' => '/images/galleries/99/Schriftplatten_5_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_5_220x.jpg', src: '/images/galleries/99/Schriftplatten_5_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schrift Stein
  .item.schriftplatten
    %span.description{style: 'display: none;'} Material ST.Michel Kalkstein
    %span.name{style: 'display: none;'} Firmenschild
    %img{alt: 'schriftplatten: Firmenschild, Material ST.Michel Kalkstein', 'data-large' => '/images/galleries/99/Schriftplatten_6_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_6_220x.jpg', src: '/images/galleries/99/Schriftplatten_6_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Firmenschild
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Werde Spluga (Schweiz) gravierte Schrift, Laterne und Weihwasser Schale in Bronze (sonder Tönung)
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Werde Spluga (Schweiz) gravierte Schrift, Laterne und Weihwasser Schale in Bronze (sonder Tönung)', 'data-large' => '/images/galleries/99/Schriftplatten_7_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_7_220x.jpg', src: '/images/galleries/99/Schriftplatten_7_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Bardiglio Marmor (Italien) Inschrift graviert und ausgemalt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Bardiglio Marmor (Italien) Inschrift graviert und ausgemalt', 'data-large' => '/images/galleries/99/Schriftplatten_8_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_8_220x.jpg', src: '/images/galleries/99/Schriftplatten_8_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in rosa Marmor, Inschrift graviert ausgemalt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in rosa Marmor, Inschrift graviert ausgemalt ', 'data-large' => '/images/galleries/99/Schriftplatten_9_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_9_220x.jpg', src: '/images/galleries/99/Schriftplatten_9_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Namensschild in Nero Asseluto (Afrika) (geflammt u. gebürstet) Die Inschrift ist graviert u. ausgemalt
    %span.name{style: 'display: none;'} Namensschild
    %img{alt: 'schriftplatten: Namensschild, Namensschild in Nero Asseluto (Afrika) (geflammt u. gebürstet) Die Inschrift ist graviert u. ausgemalt ', 'data-large' => '/images/galleries/99/Schriftplatten_10_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_10_220x.jpg', src: '/images/galleries/99/Schriftplatten_10_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Namensschild
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Wachauer Marmor (Östereich) mit einer Alu Schrift
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Wachauer Marmor (Östereich) mit einer Alu Schrift ', 'data-large' => '/images/galleries/99/Schriftplatten_11_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_11_220x.jpg', src: '/images/galleries/99/Schriftplatten_11_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in ST.Michel Kalkstein (Frankreich) mit relief Inschrift
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in ST.Michel Kalkstein (Frankreich) mit relief Inschrift', 'data-large' => '/images/galleries/99/Schriftplatten_12_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_12_220x.jpg', src: '/images/galleries/99/Schriftplatten_12_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Cristal Braun (halb Marmor) Schrift graviert u.ausgemalt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Cristal Braun (halb Marmor) Schrift graviert u.ausgemalt', 'data-large' => '/images/galleries/99/Schriftplatten_13_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_13_220x.jpg', src: '/images/galleries/99/Schriftplatten_13_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schrift im Eingangsbereich in zwei verschiedenen Materialien,Granit u. Gneis
    %span.name{style: 'display: none;'} Schrift im Eingangsbereich
    %img{alt: 'schriftplatten: Schrift im Eingangsbereich , Schrift im Eingangsbereich in zwei verschiedenen Materialien,Granit u. Gneis', 'data-large' => '/images/galleries/99/Schriftplatten_14_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_14_220x.jpg', src: '/images/galleries/99/Schriftplatten_14_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schrift im Eingangsbereich
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Tessiner Gneis graviert u.getönt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Tessiner Gneis graviert u.getönt ', 'data-large' => '/images/galleries/99/Schriftplatten_15_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_15_220x.jpg', src: '/images/galleries/99/Schriftplatten_15_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Buchform aus Comblachiene Kalkstein (Frankreich) Schrift graviert getönt
    %span.name{style: 'display: none;'} Schriftplatte in Buchform
    %img{alt: 'schriftplatten: Schriftplatte in Buchform, Schriftplatte in Buchform aus Comblachiene Kalkstein (Frankreich) Schrift graviert getönt ', 'data-large' => '/images/galleries/99/Schriftplatten_16_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_16_220x.jpg', src: '/images/galleries/99/Schriftplatten_16_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte in Buchform
  .item.schriftplatten
    %span.description{style: 'display: none;'} Familien Wappen der Berenberger Bank in Zürich Material Nero Asseluto (geflammt u. gebürstet) graviert
    %span.name{style: 'display: none;'} Familien Wappen
    %img{alt: 'schriftplatten: Familien Wappen , Familien Wappen der Berenberger Bank in Zürich Material Nero Asseluto (geflammt u. gebürstet) graviert', 'data-large' => '/images/galleries/99/Schriftplatten_17_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_17_220x.jpg', src: '/images/galleries/99/Schriftplatten_17_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Familien Wappen
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in rotem Granit mit Bronze Buchstaben
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in rotem Granit mit Bronze Buchstaben', 'data-large' => '/images/galleries/99/Schriftplatten_18_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_18_220x.jpg', src: '/images/galleries/99/Schriftplatten_18_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schriftplatte in Basalt (Italien) Inschrift graviert u. ausgemalt
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, Schriftplatte in Basalt (Italien) Inschrift graviert u. ausgemalt', 'data-large' => '/images/galleries/99/Schriftplatten_20_440x.jpg', 'data-small' => '/images/galleries/99/Schriftplatten_20_220x.jpg', src: '/images/galleries/99/Schriftplatten_20_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Schriftplatte
    %img{alt: 'schriftplatten: Schriftplatte, ', 'data-large' => '/images/galleries/99/PICT0008_440x.jpg', 'data-small' => '/images/galleries/99/PICT0008_220x.jpg', src: '/images/galleries/99/PICT0008_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte
  .item.schriftplatten
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} PICT0025
    %img{alt: 'schriftplatten: PICT0025, ', 'data-large' => '/images/galleries/99/PICT0025_440x.jpg', 'data-small' => '/images/galleries/99/PICT0025_220x.jpg', src: '/images/galleries/99/PICT0025_220x.jpg'}/
    .ic_caption{style: 'display: none;'} PICT0025
  .item.schriftplatten
    %span.description{style: 'display: none;'}
      Material: Sandstein
      Inschrift: graviert
    %span.name{style: 'display: none;'} Schriftplatte Kirche Jonen
    %img{alt: 'schriftplatten: Schriftplatte Kirche Jonen, Material: Sandstein\r\nInschrift: graviert', 'data-large' => '/images/galleries/99/schriftplatte___kirche_und_kapelle_440x.jpg', 'data-small' => '/images/galleries/99/schriftplatte___kirche_und_kapelle_220x.jpg', src: '/images/galleries/99/schriftplatte___kirche_und_kapelle_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Schriftplatte Kirche Jonen
  .item.schriftplatten
    %span.description{style: 'display: none;'} Schrift:Bronze
    %span.name{style: 'display: none;'} Granit
    %img{alt: 'schriftplatten: Granit, Schrift:Bronze', 'data-large' => '/images/galleries/99/PICT0030_440x.jpg', 'data-small' => '/images/galleries/99/PICT0030_220x.jpg', src: '/images/galleries/99/PICT0030_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Granit
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'} Grabgestaltung: mit Kies.
    %span.name{style: 'display: none;'} Grabgestaltung
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung, Grabgestaltung: mit Kies.', 'data-large' => '/images/galleries/97/DSC00445_440x.jpg', 'data-small' => '/images/galleries/97/DSC00445_220x.jpg', src: '/images/galleries/97/DSC00445_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Grabgestaltung_Natursteine_1
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung_Natursteine_1, ', 'data-large' => '/images/galleries/97/Grabgestaltung_Natursteine_1_440x.jpg', 'data-small' => '/images/galleries/97/Grabgestaltung_Natursteine_1_220x.jpg', src: '/images/galleries/97/Grabgestaltung_Natursteine_1_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung_Natursteine_1
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Grabgestaltung_Natursteine_2
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung_Natursteine_2, ', 'data-large' => '/images/galleries/97/Grabgestaltung_Natursteine_2_440x.jpg', 'data-small' => '/images/galleries/97/Grabgestaltung_Natursteine_2_220x.jpg', src: '/images/galleries/97/Grabgestaltung_Natursteine_2_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung_Natursteine_2
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Grabgestaltung_Natursteine_3
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung_Natursteine_3, ', 'data-large' => '/images/galleries/97/Grabgestaltung_Natursteine_3_440x.png', 'data-small' => '/images/galleries/97/Grabgestaltung_Natursteine_3_220x.png', src: '/images/galleries/97/Grabgestaltung_Natursteine_3_220x.png'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung_Natursteine_3
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Grabgestaltung_Natursteine_5
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung_Natursteine_5, ', 'data-large' => '/images/galleries/97/Grabgestaltung_Natursteine_5_440x.png', 'data-small' => '/images/galleries/97/Grabgestaltung_Natursteine_5_220x.png', src: '/images/galleries/97/Grabgestaltung_Natursteine_5_220x.png'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung_Natursteine_5
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'} Grabgestaltung:mit Kies und Platte.
    %span.name{style: 'display: none;'} Grabgestaltung
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung, Grabgestaltung:mit Kies und Platte.', 'data-large' => '/images/galleries/97/DSC00012_440x.jpg', 'data-small' => '/images/galleries/97/DSC00012_220x.jpg', src: '/images/galleries/97/DSC00012_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung
  .item.grabgestaltung-natursteine
    %span.description{style: 'display: none;'} Grabgestaltung:mit Kies und groben Steinen.
    %span.name{style: 'display: none;'} Grabgestaltung
    %img{alt: 'grabgestaltung-natursteine: Grabgestaltung, Grabgestaltung:mit Kies und groben Steinen.', 'data-large' => '/images/galleries/97/sc0007a647.jpg_440x.jpg', 'data-small' => '/images/galleries/97/sc0007a647.jpg_220x.jpg', src: '/images/galleries/97/sc0007a647.jpg_220x.jpg'}/
    .ic_caption{style: 'display: none;'} Grabgestaltung
