---
layout: 'gallery'
---

%h2 Impressionen
%p In der folgenden Bildergalerie sehen Sie einige Impressionen aus vergangenen Anlässe bei welchen wir mitgewirkt haben:

#gallery
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Bremgarten_800x600
    %img{alt: 'archiv: Bremgarten_800x600, ', 'data-large' => '/images/galleries/91/Bremgarten_800x600_440x.GIF', 'data-small' => '/images/galleries/91/Bremgarten_800x600_220x.GIF', src: '/images/galleries/91/Bremgarten_800x600_220x.GIF'}/
    .ic_caption Bremgarten_800x600
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} DSC_7165
    %img{alt: 'archiv: DSC_7165, ', 'data-large' => '/images/galleries/91/DSC_7165_440x.jpg', 'data-small' => '/images/galleries/91/DSC_7165_220x.jpg', src: '/images/galleries/91/DSC_7165_220x.jpg'}/
    .ic_caption DSC_7165
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} DSC_7166
    %img{alt: 'archiv: DSC_7166, ', 'data-large' => '/images/galleries/91/DSC_7166_440x.jpg', 'data-small' => '/images/galleries/91/DSC_7166_220x.jpg', src: '/images/galleries/91/DSC_7166_220x.jpg'}/
    .ic_caption DSC_7166
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} DSC_7168
    %img{alt: 'archiv: DSC_7168, ', 'data-large' => '/images/galleries/91/DSC_7168_440x.jpg', 'data-small' => '/images/galleries/91/DSC_7168_220x.jpg', src: '/images/galleries/91/DSC_7168_220x.jpg'}/
    .ic_caption DSC_7168
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} IMGP3006
    %img{alt: 'archiv: IMGP3006, ', 'data-large' => '/images/galleries/91/IMGP3006_440x.jpg', 'data-small' => '/images/galleries/91/IMGP3006_220x.jpg', src: '/images/galleries/91/IMGP3006_220x.jpg'}/
    .ic_caption IMGP3006
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} IMGP3014
    %img{alt: 'archiv: IMGP3014, ', 'data-large' => '/images/galleries/91/IMGP3014_440x.jpg', 'data-small' => '/images/galleries/91/IMGP3014_220x.jpg', src: '/images/galleries/91/IMGP3014_220x.jpg'}/
    .ic_caption IMGP3014
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} kunstbummel
    %img{alt: 'archiv: kunstbummel, ', 'data-large' => '/images/galleries/91/kunstbummel_440x.jpg', 'data-small' => '/images/galleries/91/kunstbummel_220x.jpg', src: '/images/galleries/91/kunstbummel_220x.jpg'}/
    .ic_caption kunstbummel
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} atelier-nacht
    %img{alt: 'archiv: atelier-nacht, ', 'data-large' => '/images/galleries/91/atelier-nacht_440x.png', 'data-small' => '/images/galleries/91/atelier-nacht_220x.png', src: '/images/galleries/91/atelier-nacht_220x.png'}/
    .ic_caption atelier-nacht
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Projektwoche Halden Schulhaus
    %img{alt: 'archiv: Projektwoche Halden Schulhaus , ', 'data-large' => '/images/galleries/91/DSC00454_440x.jpg', 'data-small' => '/images/galleries/91/DSC00454_220x.jpg', src: '/images/galleries/91/DSC00454_220x.jpg'}/
    .ic_caption Projektwoche Halden Schulhaus
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Projektwoche Halden Schulhaus
    %img{alt: 'archiv: Projektwoche Halden Schulhaus, ', 'data-large' => '/images/galleries/91/DSC00462_440x.jpg', 'data-small' => '/images/galleries/91/DSC00462_220x.jpg', src: '/images/galleries/91/DSC00462_220x.jpg'}/
    .ic_caption Projektwoche Halden Schulhaus
  .item.archiv
    %span.description{style: 'display: none;'} Symposium 2010 Sagenweg
    %span.name{style: 'display: none;'} Brennende Männer
    %img{alt: 'archiv: Brennende Männer , Symposium 2010 Sagenweg', 'data-large' => '/images/galleries/91/DSC01285_440x.jpeg', 'data-small' => '/images/galleries/91/DSC01285_220x.jpeg', src: '/images/galleries/91/DSC01285_220x.jpeg'}/
    .ic_caption Brennende Männer
  .item.archiv
    %span.description{style: 'display: none;'} Symposium 2010 Sagenweg
    %span.name{style: 'display: none;'} Brennende Männer
    %img{alt: 'archiv: Brennende Männer, Symposium 2010 Sagenweg', 'data-large' => '/images/galleries/91/DSC01283_440x.jpeg', 'data-small' => '/images/galleries/91/DSC01283_220x.jpeg', src: '/images/galleries/91/DSC01283_220x.jpeg'}/
    .ic_caption Brennende Männer
  .item.archiv
    %span.description{style: 'display: none;'} Symposium 2010 Sagenweg
    %span.name{style: 'display: none;'} Brennende Männer
    %img{alt: 'archiv: Brennende Männer, Symposium 2010 Sagenweg', 'data-large' => '/images/galleries/91/DSC01284_440x.jpeg', 'data-small' => '/images/galleries/91/DSC01284_220x.jpeg', src: '/images/galleries/91/DSC01284_220x.jpeg'}/
    .ic_caption Brennende Männer
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Gersau Art
    %img{alt: 'archiv: Gersau Art, ', 'data-large' => '/images/galleries/91/gersau_front_800x600_440x.jpeg', 'data-small' => '/images/galleries/91/gersau_front_800x600_220x.jpeg', src: '/images/galleries/91/gersau_front_800x600_220x.jpeg'}/
    .ic_caption Gersau Art
  .item.archiv
    %span.description{style: 'display: none;'} Historischer Markt Bremgarten 2011
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, Historischer Markt Bremgarten 2011', 'data-large' => '/images/galleries/91/Archiv_Events_1_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_1_220x.jpg', src: '/images/galleries/91/Archiv_Events_1_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} 1.Freiämter Bildhauersymposium 2003
    %img{alt: 'archiv: 1.Freiämter Bildhauersymposium 2003, ', 'data-large' => '/images/galleries/91/Archiv_Events_2_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_2_220x.jpg', src: '/images/galleries/91/Archiv_Events_2_220x.jpg'}/
    .ic_caption 1.Freiämter Bildhauersymposium 2003
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, ', 'data-large' => '/images/galleries/91/Archiv_Events_3_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_3_220x.jpg', src: '/images/galleries/91/Archiv_Events_3_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'} Offene Steinbruch Werkstatt Mägenwil 2005
    %span.name{style: 'display: none;'} Bildhauersymposium
    %img{alt: 'archiv: Bildhauersymposium, Offene Steinbruch Werkstatt Mägenwil 2005', 'data-large' => '/images/galleries/91/Archiv_Events_4_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_4_220x.jpg', src: '/images/galleries/91/Archiv_Events_4_220x.jpg'}/
    .ic_caption Bildhauersymposium
  .item.archiv
    %span.description{style: 'display: none;'} Offene Steinbruch Werkstatt Mägenwil 2005
    %span.name{style: 'display: none;'} Bildhauersymposium
    %img{alt: 'archiv: Bildhauersymposium, Offene Steinbruch Werkstatt Mägenwil 2005', 'data-large' => '/images/galleries/91/Archiv_Events_5_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_5_220x.jpg', src: '/images/galleries/91/Archiv_Events_5_220x.jpg'}/
    .ic_caption Bildhauersymposium
  .item.archiv
    %span.description{style: 'display: none;'} Offene Steinbruch Werkstatt Mägenwil 2005
    %span.name{style: 'display: none;'} Bildhauersymposium
    %img{alt: 'archiv: Bildhauersymposium, Offene Steinbruch Werkstatt Mägenwil 2005', 'data-large' => '/images/galleries/91/Archiv_Events_6_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_6_220x.jpg', src: '/images/galleries/91/Archiv_Events_6_220x.jpg'}/
    .ic_caption Bildhauersymposium
  .item.archiv
    %span.description{style: 'display: none;'} Offene Steinbruch Werkstatt Mägenwil 2005
    %span.name{style: 'display: none;'} Bildhauersymposium
    %img{alt: 'archiv: Bildhauersymposium, Offene Steinbruch Werkstatt Mägenwil 2005', 'data-large' => '/images/galleries/91/Archiv_Events_7_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_7_220x.jpg', src: '/images/galleries/91/Archiv_Events_7_220x.jpg'}/
    .ic_caption Bildhauersymposium
  .item.archiv
    %span.description{style: 'display: none;'} Offene Steinbruch Werkstatt Mägenwil 2005
    %span.name{style: 'display: none;'} Bildhauersymposium
    %img{alt: 'archiv: Bildhauersymposium, Offene Steinbruch Werkstatt Mägenwil 2005', 'data-large' => '/images/galleries/91/Archiv_Events_8_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_8_220x.jpg', src: '/images/galleries/91/Archiv_Events_8_220x.jpg'}/
    .ic_caption Bildhauersymposium
  .item.archiv
    %span.description{style: 'display: none;'} Offene Steinbruch Werkstatt Mägenwil 2005
    %span.name{style: 'display: none;'} Bildhauersymposium
    %img{alt: 'archiv: Bildhauersymposium, Offene Steinbruch Werkstatt Mägenwil 2005', 'data-large' => '/images/galleries/91/Archiv_Events_9_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_9_220x.jpg', src: '/images/galleries/91/Archiv_Events_9_220x.jpg'}/
    .ic_caption Bildhauersymposium
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} 1.Freiämter Bildhauersymposium 2003
    %img{alt: 'archiv: 1.Freiämter Bildhauersymposium 2003, ', 'data-large' => '/images/galleries/91/Archiv_Events_10_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_10_220x.jpg', src: '/images/galleries/91/Archiv_Events_10_220x.jpg'}/
    .ic_caption 1.Freiämter Bildhauersymposium 2003
  .item.archiv
    %span.description{style: 'display: none;'} Historischer Markt Bremgarten 2004
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, Historischer Markt Bremgarten 2004', 'data-large' => '/images/galleries/91/Archiv_Events_2_440x.jpg', 'data-small' => '/images/galleries/91/Archiv_Events_2_220x.jpg', src: '/images/galleries/91/Archiv_Events_2_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Atelier Vermietung
    %img{alt: 'archiv:  Atelier Vermietung , ', 'data-large' => '/images/galleries/91/PICT0064.JPG__12__440x.jpg', 'data-small' => '/images/galleries/91/PICT0064.JPG__12__220x.jpg', src: '/images/galleries/91/PICT0064.JPG__12__220x.jpg'}/
    .ic_caption Atelier Vermietung
  .item.archiv
    %span.description{style: 'display: none;'} Symposium Diegenstahl
    %span.name{style: 'display: none;'} Symposium
    %img{alt: 'archiv: Symposium, Symposium Diegenstahl', 'data-large' => '/images/galleries/91/274055027_61f1f03f65_o_440x.jpg', 'data-small' => '/images/galleries/91/274055027_61f1f03f65_o_220x.jpg', src: '/images/galleries/91/274055027_61f1f03f65_o_220x.jpg'}/
    .ic_caption Symposium
  .item.archiv
    %span.description{style: 'display: none;'} GersauART 2012 Vernissage
    %span.name{style: 'display: none;'} GersauART 2012
    %img{alt: 'archiv: GersauART 2012, GersauART 2012 Vernissage', 'data-large' => '/images/galleries/91/IMGP3018_440x.jpg', 'data-small' => '/images/galleries/91/IMGP3018_220x.jpg', src: '/images/galleries/91/IMGP3018_220x.jpg'}/
    .ic_caption GersauART 2012
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tag der offenen Tür
    %img{alt: 'archiv: Tag der offenen Tür , ', 'data-large' => '/images/galleries/91/IMGP2116_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2116_220x.jpg', src: '/images/galleries/91/IMGP2116_220x.jpg'}/
    .ic_caption Tag der offenen Tür
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tag der offenen Tür
    %img{alt: 'archiv: Tag der offenen Tür, ', 'data-large' => '/images/galleries/91/IMGP2121_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2121_220x.jpg', src: '/images/galleries/91/IMGP2121_220x.jpg'}/
    .ic_caption Tag der offenen Tür
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tag der offenen Tür
    %img{alt: 'archiv: Tag der offenen Tür, ', 'data-large' => '/images/galleries/91/IMGP2122_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2122_220x.jpg', src: '/images/galleries/91/IMGP2122_220x.jpg'}/
    .ic_caption Tag der offenen Tür
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Tag der offenen Tür
    %img{alt: 'archiv: Tag der offenen Tür, ', 'data-large' => '/images/galleries/91/IMGP2123_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2123_220x.jpg', src: '/images/galleries/91/IMGP2123_220x.jpg'}/
    .ic_caption Tag der offenen Tür
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kulturpreis 2010
    %img{alt: 'archiv: Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2126_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2126_220x.jpg', src: '/images/galleries/91/IMGP2126_220x.jpg'}/
    .ic_caption Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Kulturpreis 2010
    %img{alt: 'archiv: Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2130_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2130_220x.jpg', src: '/images/galleries/91/IMGP2130_220x.jpg'}/
    .ic_caption Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2131_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2131_220x.jpg', src: '/images/galleries/91/IMGP2131_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2132_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2132_220x.jpg', src: '/images/galleries/91/IMGP2132_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2133_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2133_220x.jpg', src: '/images/galleries/91/IMGP2133_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2136_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2136_220x.jpg', src: '/images/galleries/91/IMGP2136_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2137_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2137_220x.jpg', src: '/images/galleries/91/IMGP2137_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2140_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2140_220x.jpg', src: '/images/galleries/91/IMGP2140_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2141_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2141_220x.jpg', src: '/images/galleries/91/IMGP2141_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2143_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2143_220x.jpg', src: '/images/galleries/91/IMGP2143_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, ', 'data-large' => '/images/galleries/91/IMGP2144_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2144_220x.jpg', src: '/images/galleries/91/IMGP2144_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
      Beno de Fries
      am Jamen.
    %span.name{style: 'display: none;'} Wohler Kulturpreis 2010
    %img{alt: 'archiv: Wohler Kulturpreis 2010, Beno de Fries \nam Jamen.', 'data-large' => '/images/galleries/91/IMGP2147_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2147_220x.jpg', src: '/images/galleries/91/IMGP2147_220x.jpg'}/
    .ic_caption Wohler Kulturpreis 2010
  .item.archiv
    %span.description{style: 'display: none;'}
      Einweihung AZ Büro im
      Ausstellungsraum mit
      Werner De Schepper
      unteranderem.
    %span.name{style: 'display: none;'} AZ Büro im Ausstellungsraum
    %img{alt: 'archiv: AZ Büro im Ausstellungsraum , Einweihung AZ Büro im\nAusstellungsraum mit\nWerner De Schepper\nunteranderem.', 'data-large' => '/images/galleries/91/IMGP2183_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2183_220x.jpg', src: '/images/galleries/91/IMGP2183_220x.jpg'}/
    .ic_caption AZ Büro im Ausstellungsraum
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, ', 'data-large' => '/images/galleries/91/IMGP2741_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2741_220x.jpg', src: '/images/galleries/91/IMGP2741_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'}
      Michael Vock am behauen des
      Sandsteins.
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, Michael Vock am behauen des\nSandsteins.', 'data-large' => '/images/galleries/91/IMGP2754_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2754_220x.jpg', src: '/images/galleries/91/IMGP2754_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'}
      Mit Rosmarie Groux Grossrätin Kanton Aargau
      und Rafael Häfliger.
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, Mit Rosmarie Groux Grossrätin Kanton Aargau\nund Rafael Häfliger.', 'data-large' => '/images/galleries/91/IMGP2756_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2756_220x.jpg', src: '/images/galleries/91/IMGP2756_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Historischer Markt Bremgarten
    %img{alt: 'archiv: Historischer Markt Bremgarten, ', 'data-large' => '/images/galleries/91/IMGP2759_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2759_220x.jpg', src: '/images/galleries/91/IMGP2759_220x.jpg'}/
    .ic_caption Historischer Markt Bremgarten
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Projekt Hochzeitsgeschenk
    %img{alt: 'archiv: Projekt Hochzeitsgeschenk , ', 'data-large' => '/images/galleries/91/PICT0027_440x.jpg', 'data-small' => '/images/galleries/91/PICT0027_220x.jpg', src: '/images/galleries/91/PICT0027_220x.jpg'}/
    .ic_caption Projekt Hochzeitsgeschenk
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Neuseeland
    %img{alt: 'archiv: Neuseeland, ', 'data-large' => '/images/galleries/91/PICT0030_440x.jpg', 'data-small' => '/images/galleries/91/PICT0030_220x.jpg', src: '/images/galleries/91/PICT0030_220x.jpg'}/
    .ic_caption Neuseeland
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} Ausstellung im worlds End Zürich
    %img{alt: 'archiv: Ausstellung im worlds End Zürich, ', 'data-large' => '/images/galleries/91/sc000827e7_440x.jpg', 'data-small' => '/images/galleries/91/sc000827e7_220x.jpg', src: '/images/galleries/91/sc000827e7_220x.jpg'}/
    .ic_caption Ausstellung im worlds End Zürich
  .item.archiv
    %span.description{style: 'display: none;'}
    %span.name{style: 'display: none;'} IMGP2603
    %img{alt: 'archiv: IMGP2603, ', 'data-large' => '/images/galleries/91/IMGP2603_440x.jpg', 'data-small' => '/images/galleries/91/IMGP2603_220x.jpg', src: '/images/galleries/91/IMGP2603_220x.jpg'}/
    .ic_caption IMGP2603
